flows.json
[
    {
        "id": "63a94dd53b6ea35e",
        "type": "tab",
        "label": "Data-Logger.",
        "disabled": false,
        "info": ""
    },
    {
        "id": "08ce221ee99a19db",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a017984f53f428ec",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "7eed7068ecddb761",
        "type": "ui_group",
        "name": "Default",
        "tab": "08ce221ee99a19db",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "56841c7613eaf1e3",
        "type": "MySQLdatabase",
        "name": "",
        "host": "localhost",
        "port": "3306",
        "db": "tempvalues",
        "tz": "UK",
        "charset": "UTF8"
    },
    {
        "id": "91e570ff.c625b",
        "type": "ui_group",
        "name": "Registration",
        "tab": "479db76c.8cad78",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d30d6219.8ceef",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "training",
        "tz": "de"
    },
    {
        "id": "9e099cea.b3406",
        "type": "ui_group",
        "name": "Login",
        "tab": "afee5258.a3576",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "cbdc940b.3c4378",
        "type": "ui_group",
        "name": "User database",
        "tab": "479db76c.8cad78",
        "order": 2,
        "disp": true,
        "width": "15",
        "collapse": false
    },
    {
        "id": "c2cb81de.e029",
        "type": "ui_group",
        "name": "Update password",
        "tab": "b9f5ab0d.cf64f8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "28d6b116.9db92e",
        "type": "ui_group",
        "name": "Control",
        "tab": "b9f5ab0d.cf64f8",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "afe95a02.48f298",
        "type": "ui_group",
        "name": "Parameters",
        "tab": "b9f5ab0d.cf64f8",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "fc48c562.accd48",
        "type": "ui_group",
        "name": "Display",
        "tab": "b9f5ab0d.cf64f8",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "479db76c.8cad78",
        "type": "ui_tab",
        "name": "Settings",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "afee5258.a3576",
        "type": "ui_tab",
        "name": "Registration",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b9f5ab0d.cf64f8",
        "type": "ui_tab",
        "name": "Operator",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "2eaff49d.f2148c",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.1.7",
        "port": "1883",
        "clientid": "Node-RED_Desktop",
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "Desktop",
        "birthQos": "2",
        "birthRetain": "true",
        "birthPayload": "Desktop_Connected",
        "birthMsg": {},
        "closeTopic": "Desktop",
        "closeQos": "2",
        "closeRetain": "true",
        "closePayload": "Desktop_Disconnected",
        "closeMsg": {},
        "willTopic": "Desktop",
        "willQos": "2",
        "willRetain": "true",
        "willPayload": "Desktop_Connection break",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "cb19c538.21d738",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "training",
        "tz": "de",
        "charset": "UTF8"
    },
    {
        "id": "d5dbf848.de8068",
        "type": "ui_tab",
        "name": "Learn MQTT via Node-RED",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "fc6e5217.dfc3e",
        "type": "ui_group",
        "name": "MQTT Client list",
        "tab": "d5dbf848.de8068",
        "order": 1,
        "disp": true,
        "width": "9",
        "collapse": false
    },
    {
        "id": "c8f85ef2893010bd",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://192.168.1.25:4840",
        "secpol": "None",
        "secmode": "None",
        "login": false
    },
    {
        "id": "fa2d79f3f0b5cc40",
        "type": "OpcUa-Client",
        "z": "63a94dd53b6ea35e",
        "endpoint": "c8f85ef2893010bd",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "name": "",
        "x": 780,
        "y": 420,
        "wires": [
            [
                "5262971ed0e5920d"
            ]
        ]
    },
    {
        "id": "af10a9e1c647fe92",
        "type": "function",
        "z": "63a94dd53b6ea35e",
        "name": "",
        "func": "msg1= {};\n\nmsg1.topic= \"ns=4;i=3;datatype=int16\"\n\n\nreturn msg1;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 420,
        "wires": [
            [
                "fa2d79f3f0b5cc40"
            ]
        ]
    },
    {
        "id": "951aeac1a7f329cd",
        "type": "inject",
        "z": "63a94dd53b6ea35e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 390,
        "y": 400,
        "wires": [
            [
                "af10a9e1c647fe92",
                "a9058b805bd2525d"
            ]
        ]
    },
    {
        "id": "5262971ed0e5920d",
        "type": "debug",
        "z": "63a94dd53b6ea35e",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 420,
        "wires": []
    },
    {
        "id": "053ef1b53c01d33e",
        "type": "OpcUa-Client",
        "z": "63a94dd53b6ea35e",
        "endpoint": "c8f85ef2893010bd",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "name": "",
        "x": 760,
        "y": 480,
        "wires": [
            [
                "9a6317353eb5200c"
            ]
        ]
    },
    {
        "id": "a9058b805bd2525d",
        "type": "function",
        "z": "63a94dd53b6ea35e",
        "name": "",
        "func": "msg1= {};\n\nmsg1.topic= \"ns=4;i=4;datatype=int16\"\n\n\nreturn msg1;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 480,
        "wires": [
            [
                "053ef1b53c01d33e"
            ]
        ]
    },
    {
        "id": "9a6317353eb5200c",
        "type": "debug",
        "z": "63a94dd53b6ea35e",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 480,
        "wires": []
    },
    {
        "id": "7b587a95137913ca",
        "type": "mysql",
        "z": "63a94dd53b6ea35e",
        "mydb": "56841c7613eaf1e3",
        "name": "",
        "x": 1090,
        "y": 600,
        "wires": [
            []
        ]
    }
]