flows.json
[
    {
        "id": "9312fa78e4920ab8",
        "type": "tab",
        "label": "Flow 3",
        "disabled": true,
        "info": ""
    },
    {
        "id": "e3742b89.114eb8",
        "type": "tab",
        "label": "Flow 4",
        "disabled": true,
        "info": ""
    },
    {
        "id": "6de6416e.50feb",
        "type": "tab",
        "label": "MQTT project1",
        "disabled": true,
        "info": ""
    },
    {
        "id": "d4e5dc8cc7175e18",
        "type": "tab",
        "label": "MQtt Project2",
        "disabled": true,
        "info": ""
    },
    {
        "id": "63a94dd53b6ea35e",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "08ce221ee99a19db",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a017984f53f428ec",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "7eed7068ecddb761",
        "type": "ui_group",
        "name": "Default",
        "tab": "08ce221ee99a19db",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "56841c7613eaf1e3",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "training",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "91e570ff.c625b",
        "type": "ui_group",
        "name": "Registration",
        "tab": "479db76c.8cad78",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d30d6219.8ceef",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "training",
        "tz": "de"
    },
    {
        "id": "9e099cea.b3406",
        "type": "ui_group",
        "name": "Login",
        "tab": "afee5258.a3576",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "cbdc940b.3c4378",
        "type": "ui_group",
        "name": "User database",
        "tab": "479db76c.8cad78",
        "order": 2,
        "disp": true,
        "width": "15",
        "collapse": false
    },
    {
        "id": "c2cb81de.e029",
        "type": "ui_group",
        "name": "Update password",
        "tab": "b9f5ab0d.cf64f8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "28d6b116.9db92e",
        "type": "ui_group",
        "name": "Control",
        "tab": "b9f5ab0d.cf64f8",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "afe95a02.48f298",
        "type": "ui_group",
        "name": "Parameters",
        "tab": "b9f5ab0d.cf64f8",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "fc48c562.accd48",
        "type": "ui_group",
        "name": "Display",
        "tab": "b9f5ab0d.cf64f8",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "479db76c.8cad78",
        "type": "ui_tab",
        "name": "Settings",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "afee5258.a3576",
        "type": "ui_tab",
        "name": "Registration",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b9f5ab0d.cf64f8",
        "type": "ui_tab",
        "name": "Operator",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "2eaff49d.f2148c",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.1.7",
        "port": "1883",
        "clientid": "Node-RED_Desktop",
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "Desktop",
        "birthQos": "2",
        "birthRetain": "true",
        "birthPayload": "Desktop_Connected",
        "birthMsg": {},
        "closeTopic": "Desktop",
        "closeQos": "2",
        "closeRetain": "true",
        "closePayload": "Desktop_Disconnected",
        "closeMsg": {},
        "willTopic": "Desktop",
        "willQos": "2",
        "willRetain": "true",
        "willPayload": "Desktop_Connection break",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "cb19c538.21d738",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "training",
        "tz": "de",
        "charset": "UTF8"
    },
    {
        "id": "d5dbf848.de8068",
        "type": "ui_tab",
        "name": "Learn MQTT via Node-RED",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "fc6e5217.dfc3e",
        "type": "ui_group",
        "name": "MQTT Client list",
        "tab": "d5dbf848.de8068",
        "order": 1,
        "disp": true,
        "width": "9",
        "collapse": false
    },
    {
        "id": "c8f85ef2893010bd",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://192.168.1.25:4840",
        "secpol": "None",
        "secmode": "None",
        "login": false
    },
    {
        "id": "f7df66743a4fdff8",
        "type": "inject",
        "z": "9312fa78e4920ab8",
        "name": "Test Encrypt",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "nitin",
        "payloadType": "str",
        "x": 260,
        "y": 180,
        "wires": [
            [
                "b24044161868cf41"
            ]
        ]
    },
    {
        "id": "4a249e97955ee030",
        "type": "comment",
        "z": "9312fa78e4920ab8",
        "name": "Testing Encyption",
        "info": "",
        "x": 170,
        "y": 120,
        "wires": []
    },
    {
        "id": "aef03c20e0ef8a3c",
        "type": "debug",
        "z": "9312fa78e4920ab8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 180,
        "wires": []
    },
    {
        "id": "b24044161868cf41",
        "type": "bcrypt",
        "z": "9312fa78e4920ab8",
        "name": "",
        "action": "encrypt",
        "field": "",
        "hash": "payload",
        "rounds": 10,
        "x": 480,
        "y": 180,
        "wires": [
            [
                "aef03c20e0ef8a3c"
            ]
        ]
    },
    {
        "id": "6563fcd8aa2a69a8",
        "type": "inject",
        "z": "9312fa78e4920ab8",
        "name": "Verify",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"txt\":\"nitin\",\"hash\":\"$2a$10$mpFmkNuZOgy0LJbS4CFTbeaLL7dGxL9YRlouljiXfUH25ErHE2oAG\"}",
        "payloadType": "json",
        "x": 240,
        "y": 260,
        "wires": [
            [
                "557f9e301b7997af"
            ]
        ]
    },
    {
        "id": "557f9e301b7997af",
        "type": "bcrypt",
        "z": "9312fa78e4920ab8",
        "name": "",
        "action": "verify",
        "field": "payload.txt",
        "hash": "payload.hash",
        "rounds": 10,
        "x": 470,
        "y": 260,
        "wires": [
            [
                "904e9a86cf8d6a87"
            ]
        ]
    },
    {
        "id": "904e9a86cf8d6a87",
        "type": "debug",
        "z": "9312fa78e4920ab8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 260,
        "wires": []
    },
    {
        "id": "ca1d31ab945b0f20",
        "type": "comment",
        "z": "9312fa78e4920ab8",
        "name": "Registering Users",
        "info": "",
        "x": 200,
        "y": 380,
        "wires": []
    },
    {
        "id": "fd11cd8eac40b1b6",
        "type": "debug",
        "z": "9312fa78e4920ab8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 440,
        "wires": []
    },
    {
        "id": "1c6e89ed7375da84",
        "type": "function",
        "z": "9312fa78e4920ab8",
        "name": "",
        "func": "// verifying password\n\nvar x = msg.payload.password;\nvar y = msg.payload [\"repeat password\"];\n\nif (x==y)\n{\n    //reading and storing password as text\n    \n    global.set ('username', msg.payload.username);\n    global.set('password',msg.payload.password);\n    msg.payload = msg.payload.password;\n    \n return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 520,
        "wires": [
            [
                "ff705815700f6654"
            ]
        ]
    },
    {
        "id": "5df1bec5f09fde13",
        "type": "function",
        "z": "9312fa78e4920ab8",
        "name": "",
        "func": "// verifying password\n\nvar x = msg.payload.password;\nvar y = msg.payload [\"repeat password\"];\n\nif (x==y)\n{\n    //reading and storing password as text\n    \n    global.set ('username', msg.payload.username);\n    global.set('password',msg.payload.password);\n    msg.payload = msg.payload.password;\n    \n return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "ff705815700f6654",
        "type": "bcrypt",
        "z": "9312fa78e4920ab8",
        "name": "",
        "action": "encrypt",
        "field": "payload",
        "hash": "payload",
        "rounds": 10,
        "x": 590,
        "y": 520,
        "wires": [
            [
                "3643c938bb20f759",
                "4cfc17e6af18dd8d"
            ]
        ]
    },
    {
        "id": "3643c938bb20f759",
        "type": "debug",
        "z": "9312fa78e4920ab8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 440,
        "wires": []
    },
    {
        "id": "4cfc17e6af18dd8d",
        "type": "function",
        "z": "9312fa78e4920ab8",
        "name": "Store Pword as GV",
        "func": "global.set ('passwordhash', msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 520,
        "wires": [
            [
                "29a2df491b612a8b",
                "cc64f6d68a01393e"
            ]
        ]
    },
    {
        "id": "29a2df491b612a8b",
        "type": "debug",
        "z": "9312fa78e4920ab8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 440,
        "wires": []
    },
    {
        "id": "cc64f6d68a01393e",
        "type": "function",
        "z": "9312fa78e4920ab8",
        "name": "Insert",
        "func": "var username = global.get('username');\nvar passwordhash = global.get ('passwordhash');\n\nmsg.topic = \"INSERT INTO `training`.`userdatabase`(`username`,`password`) VALUES ('\"+username+\"', '\"+passwordhash+\"');\";\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 520,
        "wires": [
            [
                "c45656f57185e1bf"
            ]
        ]
    },
    {
        "id": "c45656f57185e1bf",
        "type": "mysql",
        "z": "9312fa78e4920ab8",
        "mydb": "56841c7613eaf1e3",
        "name": "",
        "x": 1220,
        "y": 520,
        "wires": [
            [
                "3615066540e58a9c",
                "acbfcc354b5c94f8"
            ]
        ]
    },
    {
        "id": "3615066540e58a9c",
        "type": "function",
        "z": "9312fa78e4920ab8",
        "name": "",
        "func": "if (msg.payload.affectedRows == 1)\n{\n    msg.payload =\"successfully registered\";\n    return msg;\n    \n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1440,
        "y": 520,
        "wires": [
            [
                "f707015b2e14ff53"
            ]
        ]
    },
    {
        "id": "acbfcc354b5c94f8",
        "type": "debug",
        "z": "9312fa78e4920ab8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1430,
        "y": 440,
        "wires": []
    },
    {
        "id": "f707015b2e14ff53",
        "type": "delay",
        "z": "9312fa78e4920ab8",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 1620,
        "y": 520,
        "wires": [
            [
                "182bb9f164dd3736"
            ]
        ]
    },
    {
        "id": "182bb9f164dd3736",
        "type": "function",
        "z": "9312fa78e4920ab8",
        "name": "",
        "func": "msg.payload = \"\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1780,
        "y": 520,
        "wires": [
            [
                "94ccf2211d1ea54b"
            ]
        ]
    },
    {
        "id": "51e73a649362299b",
        "type": "catch",
        "z": "9312fa78e4920ab8",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 1440,
        "y": 580,
        "wires": [
            [
                "7b5c2c694cd18bdf"
            ]
        ]
    },
    {
        "id": "7b5c2c694cd18bdf",
        "type": "function",
        "z": "9312fa78e4920ab8",
        "name": "",
        "func": "if (msg.payload.source.count ==1)\n{\n    msg.payload = \"error! Username Already Exisits!!\";\n    \n    return msg;\n    \n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1620,
        "y": 580,
        "wires": [
            [
                "5c61ae0f7698ab27"
            ]
        ]
    },
    {
        "id": "b8493930.f0d2a8",
        "type": "bcrypt",
        "z": "e3742b89.114eb8",
        "name": "",
        "action": "encrypt",
        "field": "",
        "hash": "payload",
        "rounds": "10",
        "x": 370,
        "y": 160,
        "wires": [
            [
                "f30663cb.0dcd9"
            ]
        ]
    },
    {
        "id": "aecf3868.b14ef8",
        "type": "inject",
        "z": "e3742b89.114eb8",
        "name": "TestEncrypt",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "nitin",
        "payloadType": "str",
        "x": 190,
        "y": 160,
        "wires": [
            [
                "b8493930.f0d2a8"
            ]
        ]
    },
    {
        "id": "f30663cb.0dcd9",
        "type": "debug",
        "z": "e3742b89.114eb8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 530,
        "y": 160,
        "wires": []
    },
    {
        "id": "d9a151cb.e539",
        "type": "debug",
        "z": "e3742b89.114eb8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 530,
        "y": 280,
        "wires": []
    },
    {
        "id": "eceb05f4.775178",
        "type": "bcrypt",
        "z": "e3742b89.114eb8",
        "name": "",
        "action": "verify",
        "field": "payload.txt",
        "hash": "payload.hash",
        "rounds": 10,
        "x": 370,
        "y": 280,
        "wires": [
            [
                "d9a151cb.e539"
            ]
        ]
    },
    {
        "id": "d8a8c10a.8dbd6",
        "type": "bcrypt",
        "z": "e3742b89.114eb8",
        "name": "",
        "action": "encrypt",
        "field": "payload",
        "hash": "",
        "rounds": 10,
        "x": 590,
        "y": 500,
        "wires": [
            [
                "708d14aa.4e8ddc",
                "ccffa015.083bc"
            ]
        ]
    },
    {
        "id": "e47318e3.d9a788",
        "type": "debug",
        "z": "e3742b89.114eb8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1130,
        "y": 460,
        "wires": []
    },
    {
        "id": "708d14aa.4e8ddc",
        "type": "function",
        "z": "e3742b89.114eb8",
        "name": "Setting password to G.Variable",
        "func": "global.set('passwordhash',msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 830,
        "y": 500,
        "wires": [
            [
                "e47318e3.d9a788",
                "87583114.c557f"
            ]
        ]
    },
    {
        "id": "cc1ac80f.0f9c88",
        "type": "function",
        "z": "e3742b89.114eb8",
        "name": "",
        "func": "//verying password\nvar x = msg.payload.password;\nvar y = msg.payload[\"repeat password\"];\n\nif (x == y)\n{\n//reading and storing password as text\nglobal.set('username',msg.payload.username);\nglobal.set('password',msg.payload.password);\n\nmsg.payload = msg.payload.password;\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 400,
        "y": 500,
        "wires": [
            [
                "d8a8c10a.8dbd6"
            ]
        ]
    },
    {
        "id": "8432bbf.80f3548",
        "type": "ui_form",
        "z": "e3742b89.114eb8",
        "name": "",
        "label": "Registration",
        "group": "91e570ff.c625b",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Username",
                "value": "username",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Password",
                "value": "password",
                "type": "password",
                "required": true,
                "rows": null
            },
            {
                "label": "repeat password",
                "value": "repeat password",
                "type": "password",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "username": "",
            "password": "",
            "repeat password": ""
        },
        "payload": "",
        "submit": "Register",
        "cancel": "cancel",
        "topic": "",
        "topicType": "str",
        "splitLayout": false,
        "x": 170,
        "y": 500,
        "wires": [
            [
                "cc1ac80f.0f9c88",
                "dc6f633b.630b4",
                "7c971216.7c13ec"
            ]
        ]
    },
    {
        "id": "8e313a27.d019b8",
        "type": "comment",
        "z": "e3742b89.114eb8",
        "name": "Encrypting password",
        "info": "",
        "x": 630,
        "y": 460,
        "wires": []
    },
    {
        "id": "4d889084.8d8d1",
        "type": "mysql",
        "z": "e3742b89.114eb8",
        "mydb": "d30d6219.8ceef",
        "name": "",
        "x": 1320,
        "y": 500,
        "wires": [
            [
                "9f71d7b3.3f76d8",
                "a1a4c1f4.63c25"
            ]
        ]
    },
    {
        "id": "87583114.c557f",
        "type": "function",
        "z": "e3742b89.114eb8",
        "name": "INSERT",
        "func": "var username = global.get('username');\nvar passwordhash = global.get('passwordhash');\n\nmsg.topic = \"INSERT INTO `training`.`userdatabase`(`username`,`password`) VALUES('\"+username+\"','\"+passwordhash+\"');\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1120,
        "y": 500,
        "wires": [
            [
                "4d889084.8d8d1",
                "514f11c0.986f4"
            ]
        ]
    },
    {
        "id": "9f71d7b3.3f76d8",
        "type": "debug",
        "z": "e3742b89.114eb8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1530,
        "y": 500,
        "wires": []
    },
    {
        "id": "97a7e608.51bca8",
        "type": "ui_form",
        "z": "e3742b89.114eb8",
        "name": "",
        "label": "Login",
        "group": "9e099cea.b3406",
        "order": 2,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Username",
                "value": "username",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Password",
                "value": "password",
                "type": "password",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "username": "",
            "password": ""
        },
        "payload": "",
        "submit": "Login",
        "cancel": "cancel",
        "topic": "",
        "x": 190,
        "y": 720,
        "wires": [
            [
                "4e72902b.b32bb",
                "94c1ea06.d57c98"
            ]
        ]
    },
    {
        "id": "4e72902b.b32bb",
        "type": "function",
        "z": "e3742b89.114eb8",
        "name": "SELECT",
        "func": "msg.topic = \"SELECT username, password FROM training.userdatabase where username = '\"+msg.payload.username+\"';\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 380,
        "y": 720,
        "wires": [
            [
                "e591e3e.87b1b2"
            ]
        ]
    },
    {
        "id": "e591e3e.87b1b2",
        "type": "mysql",
        "z": "e3742b89.114eb8",
        "mydb": "d30d6219.8ceef",
        "name": "",
        "x": 560,
        "y": 720,
        "wires": [
            [
                "882eb2a.ba1ea5",
                "882a46a5.77e7c8",
                "2b94ce66.b63282"
            ]
        ]
    },
    {
        "id": "882eb2a.ba1ea5",
        "type": "debug",
        "z": "e3742b89.114eb8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 720,
        "wires": []
    },
    {
        "id": "694d388.7c07ec8",
        "type": "bcrypt",
        "z": "e3742b89.114eb8",
        "name": "",
        "action": "verify",
        "field": "payload.txt",
        "hash": "payload.hash",
        "rounds": 10,
        "x": 990,
        "y": 760,
        "wires": [
            [
                "5f574ed9.ab6c3",
                "6fb3fac0.e0c054"
            ]
        ]
    },
    {
        "id": "94c1ea06.d57c98",
        "type": "function",
        "z": "e3742b89.114eb8",
        "name": "Global.V",
        "func": "//store the password entered by user to check later\nglobal.set('passwordcheck',msg.payload.password);",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 380,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "882a46a5.77e7c8",
        "type": "function",
        "z": "e3742b89.114eb8",
        "name": "Check password",
        "func": "//Read the password entered by user\nvar passwordcheck = global.get('passwordcheck');\n\nglobal.set('currentuserbuffer',msg.payload[0].username);\nmsg.payload =\n{\n    \"txt\": \"\"+passwordcheck+\"\",\n    \"hash\": \"\"+msg.payload[0].password+\"\"\n}\n\nreturn msg;  ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 780,
        "y": 760,
        "wires": [
            [
                "694d388.7c07ec8"
            ]
        ]
    },
    {
        "id": "5f574ed9.ab6c3",
        "type": "debug",
        "z": "e3742b89.114eb8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1210,
        "y": 720,
        "wires": []
    },
    {
        "id": "1f4a6376.869d7d",
        "type": "ui_text",
        "z": "e3742b89.114eb8",
        "group": "9e099cea.b3406",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 2390,
        "y": 780,
        "wires": []
    },
    {
        "id": "6fb3fac0.e0c054",
        "type": "function",
        "z": "e3742b89.114eb8",
        "name": "",
        "func": "if (msg.match === true)\n{\n    msg.payload = \"Login successful\";\n    var x = global.get('currentuserbuffer');\n    global.set('currentuser', x)\n    return msg;\n}\nelse\n{\n    msg.payload = \"Please try again!\";\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1220,
        "y": 760,
        "wires": [
            [
                "1f4a6376.869d7d",
                "b3b38e10.d6e6e"
            ]
        ]
    },
    {
        "id": "873f569b.ec6128",
        "type": "catch",
        "z": "e3742b89.114eb8",
        "name": "",
        "scope": [
            "4d889084.8d8d1"
        ],
        "uncaught": false,
        "x": 1770,
        "y": 660,
        "wires": [
            [
                "76bb6372.f46a3c"
            ]
        ]
    },
    {
        "id": "a53fdd24.6636e",
        "type": "debug",
        "z": "e3742b89.114eb8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "error",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2200,
        "y": 660,
        "wires": []
    },
    {
        "id": "2b94ce66.b63282",
        "type": "function",
        "z": "e3742b89.114eb8",
        "name": "",
        "func": "var x = msg.payload.length;\nif (x === 0)\n{\n    msg.payload = \"Please try again!\";\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 760,
        "y": 820,
        "wires": [
            [
                "1f4a6376.869d7d",
                "b3b38e10.d6e6e"
            ]
        ]
    },
    {
        "id": "3ea3091.da5c0f6",
        "type": "comment",
        "z": "e3742b89.114eb8",
        "name": "Registering users",
        "info": "",
        "x": 180,
        "y": 460,
        "wires": []
    },
    {
        "id": "2421bb0e.13f404",
        "type": "comment",
        "z": "e3742b89.114eb8",
        "name": "Verifying Login",
        "info": "",
        "x": 180,
        "y": 640,
        "wires": []
    },
    {
        "id": "dc6f633b.630b4",
        "type": "debug",
        "z": "e3742b89.114eb8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 460,
        "wires": []
    },
    {
        "id": "c235a762.b41728",
        "type": "ui_text",
        "z": "e3742b89.114eb8",
        "group": "91e570ff.c625b",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 2390,
        "y": 560,
        "wires": []
    },
    {
        "id": "7c971216.7c13ec",
        "type": "function",
        "z": "e3742b89.114eb8",
        "name": "",
        "func": "\nvar x = msg.payload.password;\nvar y = msg.payload[\"repeat password\"];\n\nif (x == y)\n{\nmsg.payload = \" \";\nreturn msg;\n}\n\nif (x != y)\n{\nmsg.payload = \"Password does not match!\";\nreturn msg;\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 400,
        "y": 560,
        "wires": [
            [
                "c235a762.b41728",
                "7dec084a.a1d508"
            ]
        ]
    },
    {
        "id": "b3b38e10.d6e6e",
        "type": "delay",
        "z": "e3742b89.114eb8",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1760,
        "y": 820,
        "wires": [
            [
                "8b9906f.ed7e0f8"
            ]
        ]
    },
    {
        "id": "8b9906f.ed7e0f8",
        "type": "function",
        "z": "e3742b89.114eb8",
        "name": "",
        "func": "msg.payload = \"\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1940,
        "y": 820,
        "wires": [
            [
                "1f4a6376.869d7d"
            ]
        ]
    },
    {
        "id": "7dec084a.a1d508",
        "type": "delay",
        "z": "e3742b89.114eb8",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1760,
        "y": 600,
        "wires": [
            [
                "5a5f4f51.0f8df"
            ]
        ]
    },
    {
        "id": "5a5f4f51.0f8df",
        "type": "function",
        "z": "e3742b89.114eb8",
        "name": "",
        "func": "msg.payload = \"\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 600,
        "wires": [
            [
                "c235a762.b41728"
            ]
        ]
    },
    {
        "id": "ebb3f5aa.e489a8",
        "type": "comment",
        "z": "e3742b89.114eb8",
        "name": "Comparing password",
        "info": "",
        "x": 980,
        "y": 720,
        "wires": []
    },
    {
        "id": "2dc1468a.9f38aa",
        "type": "comment",
        "z": "e3742b89.114eb8",
        "name": "Testing Encryption",
        "info": "",
        "x": 190,
        "y": 120,
        "wires": []
    },
    {
        "id": "e80987ac.a6f468",
        "type": "inject",
        "z": "e3742b89.114eb8",
        "name": "TestVerify",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"txt\":\"nitin\",\"hash\":\"$2a$10$.cE1q47IoHm1TLZ9EkFhieJ1/mZMvkqlluZOEl6qp32BzAOS0BMYe\"}",
        "payloadType": "json",
        "x": 180,
        "y": 280,
        "wires": [
            [
                "eceb05f4.775178"
            ]
        ]
    },
    {
        "id": "ecb8306c.187b8",
        "type": "comment",
        "z": "e3742b89.114eb8",
        "name": "Testing Description",
        "info": "",
        "x": 190,
        "y": 240,
        "wires": []
    },
    {
        "id": "76bb6372.f46a3c",
        "type": "function",
        "z": "e3742b89.114eb8",
        "name": "",
        "func": "if (msg.error.source.count == 1)\n{\n    msg.payload = \"Error! Username already exist\";\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1960,
        "y": 660,
        "wires": [
            [
                "a53fdd24.6636e",
                "c235a762.b41728"
            ]
        ]
    },
    {
        "id": "a1a4c1f4.63c25",
        "type": "function",
        "z": "e3742b89.114eb8",
        "name": "",
        "func": "if (msg.payload.affectedRows == 1)\n{\n    msg.payload = \"Successfully registered\";\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1500,
        "y": 540,
        "wires": [
            [
                "c235a762.b41728",
                "7dec084a.a1d508",
                "f663ce50.abf66"
            ]
        ]
    },
    {
        "id": "b0b0ca2b.d8c348",
        "type": "ui_template",
        "z": "e3742b89.114eb8",
        "group": "cbdc940b.3c4378",
        "name": "",
        "order": 2,
        "width": 15,
        "height": 3,
        "format": "<style>\n    #history {\n      font-family: \"Arial\";\n        border-collapse: collapse;\n        width: 100%;\n        }\n        \n        #history td, #history th {\n        border: 1px solid #ddd;\n        padding: 8px;\n        }\n        #history tr:nth-child(even){background-color: #A8EEF8;}\n        \n        #history tr:hover {background-color: #40aeea;}\n        \n        #history th {\n        padding-top: 12px;\n        padding-bottom: 12px;\n        text-align: center;\n        background-color: #696969;\n        color: white;\n        }\n        </style>\n        \n        <table id=\"history\" border=\"1\">\n            <tr align=\"center\">\n\n                 <th>ID</th>\n                 <th>Username</th>\n                 <th>Password (Hash)</th>\n               \n            </tr>\n                <tbody>\n                    <tr align=\"center\" ng-repeat=\"row in msg.payload\">\n                        <td ng-repeat=\"item in row\" >{{item}}</td>\n                        </tr>\n                        </tbody>\n                        </table>\n        ",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 1480,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "f663ce50.abf66",
        "type": "link out",
        "z": "e3742b89.114eb8",
        "name": "TriggerSelect1",
        "links": [
            "b654721e.0bfea"
        ],
        "x": 1755,
        "y": 520,
        "wires": []
    },
    {
        "id": "b654721e.0bfea",
        "type": "link in",
        "z": "e3742b89.114eb8",
        "name": "",
        "links": [
            "741617fb.78da08",
            "f663ce50.abf66"
        ],
        "x": 155,
        "y": 920,
        "wires": [
            [
                "8e7fc9ae.5a7d38"
            ]
        ]
    },
    {
        "id": "4f7fec01.3d6fc4",
        "type": "comment",
        "z": "e3742b89.114eb8",
        "name": "User table",
        "info": "",
        "x": 160,
        "y": 880,
        "wires": []
    },
    {
        "id": "8e7fc9ae.5a7d38",
        "type": "function",
        "z": "e3742b89.114eb8",
        "name": "Select",
        "func": "msg.topic = \"Select * from `training`.`userdatabase`;\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 430,
        "y": 920,
        "wires": [
            [
                "88245281.6f1d8"
            ]
        ]
    },
    {
        "id": "88245281.6f1d8",
        "type": "mysql",
        "z": "e3742b89.114eb8",
        "mydb": "d30d6219.8ceef",
        "name": "",
        "x": 1300,
        "y": 920,
        "wires": [
            [
                "b0b0ca2b.d8c348"
            ]
        ]
    },
    {
        "id": "eb1e9966.c035a8",
        "type": "ui_button",
        "z": "e3742b89.114eb8",
        "name": "",
        "group": "cbdc940b.3c4378",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Refresh",
        "tooltip": "",
        "color": "",
        "bgcolor": "orange",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 200,
        "y": 960,
        "wires": [
            [
                "8e7fc9ae.5a7d38"
            ]
        ]
    },
    {
        "id": "f272c225.8ea0a",
        "type": "function",
        "z": "e3742b89.114eb8",
        "name": "",
        "func": "msg.topic = \"ALTER TABLE training.userdatabase AUTO_INCREMENT = 2;\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 520,
        "y": 1040,
        "wires": [
            [
                "88245281.6f1d8",
                "c97f7d9f.17098"
            ]
        ]
    },
    {
        "id": "7083899c.204f38",
        "type": "function",
        "z": "e3742b89.114eb8",
        "name": "",
        "func": "msg.topic = \"Delete from training.userdatabase where username != 'admin';\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 420,
        "y": 1000,
        "wires": [
            [
                "88245281.6f1d8"
            ]
        ]
    },
    {
        "id": "d9a65729.5ee288",
        "type": "ui_button",
        "z": "e3742b89.114eb8",
        "name": "",
        "group": "cbdc940b.3c4378",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Delete all",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 200,
        "y": 1000,
        "wires": [
            [
                "7083899c.204f38",
                "a6430ac9.8d80c8"
            ]
        ]
    },
    {
        "id": "a6430ac9.8d80c8",
        "type": "delay",
        "z": "e3742b89.114eb8",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 360,
        "y": 1040,
        "wires": [
            [
                "f272c225.8ea0a"
            ]
        ]
    },
    {
        "id": "cab2ceec.4c6c9",
        "type": "catch",
        "z": "e3742b89.114eb8",
        "name": "",
        "scope": [
            "882a46a5.77e7c8"
        ],
        "uncaught": false,
        "x": 1310,
        "y": 880,
        "wires": [
            [
                "a1598b30.782208"
            ]
        ]
    },
    {
        "id": "a1598b30.782208",
        "type": "function",
        "z": "e3742b89.114eb8",
        "name": "",
        "func": "if (msg.error.source.count == 1)\n{\n    msg.payload = \"Error! Username or password is incorrect\";\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1480,
        "y": 880,
        "wires": [
            [
                "1f4a6376.869d7d",
                "b3b38e10.d6e6e"
            ]
        ]
    },
    {
        "id": "f3d071c7.f3ee7",
        "type": "ui_text",
        "z": "e3742b89.114eb8",
        "group": "cbdc940b.3c4378",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current logged in user",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 780,
        "y": 1140,
        "wires": []
    },
    {
        "id": "7284475d.4df378",
        "type": "inject",
        "z": "e3742b89.114eb8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 1140,
        "wires": [
            [
                "a606889c.be0628"
            ]
        ]
    },
    {
        "id": "a606889c.be0628",
        "type": "function",
        "z": "e3742b89.114eb8",
        "name": "",
        "func": "msg.payload = global.get('currentuser');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 480,
        "y": 1140,
        "wires": [
            [
                "f3d071c7.f3ee7",
                "4a6766fe.211dd8",
                "5c7e7b10.ebcb94"
            ]
        ]
    },
    {
        "id": "57eaee5b.335ae",
        "type": "ui_button",
        "z": "e3742b89.114eb8",
        "name": "",
        "group": "9e099cea.b3406",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Logout",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 190,
        "y": 780,
        "wires": [
            [
                "8481ce9a.b3a0e"
            ]
        ]
    },
    {
        "id": "8481ce9a.b3a0e",
        "type": "function",
        "z": "e3742b89.114eb8",
        "name": "Global.V",
        "func": "global.set('currentuser',\"Guest\");\nglobal.set('currentuserbuffer',\"\");\nglobal.set('username',\"\");\nglobal.set('password',\"\");\nglobal.set('passwordhash',\"\");\nglobal.set('passwordcheck',\"\");",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 380,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "8929750c.4cdb48",
        "type": "ui_form",
        "z": "e3742b89.114eb8",
        "name": "",
        "label": "Change password",
        "group": "c2cb81de.e029",
        "order": 2,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "old password",
                "value": "old password",
                "type": "password",
                "required": true,
                "rows": null
            },
            {
                "label": "new password",
                "value": "new password",
                "type": "password",
                "required": true,
                "rows": null
            },
            {
                "label": "repeat new password",
                "value": "repeat new password",
                "type": "password",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "old password": "",
            "new password": "",
            "repeat new password": ""
        },
        "payload": "",
        "submit": "Update",
        "cancel": "cancel",
        "topic": "",
        "x": 230,
        "y": 1280,
        "wires": [
            [
                "4a57152f.3fdd2c",
                "4948f6fb.220f68",
                "7e8a033d.8e788c",
                "363770d.372f49"
            ]
        ]
    },
    {
        "id": "4948f6fb.220f68",
        "type": "function",
        "z": "e3742b89.114eb8",
        "name": "Set old password",
        "func": "//verying password\nvar x = msg.payload[\"old password\"];\nglobal.set('oldpassword',x)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 510,
        "y": 1320,
        "wires": [
            [
                "f78be9ee.7dc198"
            ]
        ]
    },
    {
        "id": "4a57152f.3fdd2c",
        "type": "debug",
        "z": "e3742b89.114eb8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 1280,
        "wires": []
    },
    {
        "id": "7e8a033d.8e788c",
        "type": "function",
        "z": "e3742b89.114eb8",
        "name": "Error handling new password",
        "func": "//verying password\nvar x = msg.payload[\"new password\"];\nvar y = msg.payload[\"repeat new password\"];\n\nif (x == y)\n{\nglobal.set('passwordmatch', true);\nglobal.set('newpassword',x)\nreturn msg;\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 540,
        "y": 1360,
        "wires": [
            []
        ]
    },
    {
        "id": "6496b349.07146c",
        "type": "bcrypt",
        "z": "e3742b89.114eb8",
        "name": "",
        "action": "verify",
        "field": "payload.txt",
        "hash": "payload.hash",
        "rounds": 10,
        "x": 1370,
        "y": 1320,
        "wires": [
            [
                "e4ec2c90.1925c",
                "3dd51d9c.3d7402",
                "13f6fdc4.f88002"
            ]
        ]
    },
    {
        "id": "e4ec2c90.1925c",
        "type": "debug",
        "z": "e3742b89.114eb8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1590,
        "y": 1360,
        "wires": []
    },
    {
        "id": "df38e927.1519f8",
        "type": "function",
        "z": "e3742b89.114eb8",
        "name": "Check old password",
        "func": "var oldpassword = global.get('oldpassword');\n\nmsg.payload =\n{\n    \"txt\": \"\"+oldpassword+\"\",\n    \"hash\": \"\"+msg.payload[0].password+\"\"\n}\n\nreturn msg;  ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1160,
        "y": 1320,
        "wires": [
            [
                "6496b349.07146c"
            ]
        ]
    },
    {
        "id": "f78be9ee.7dc198",
        "type": "function",
        "z": "e3742b89.114eb8",
        "name": "SELECT",
        "func": "var currentuser = global.get('currentuser')\nmsg.topic = \"SELECT username, password FROM training.userdatabase where username = '\"+currentuser+\"';\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 740,
        "y": 1320,
        "wires": [
            [
                "34d021f1.09a10e"
            ]
        ]
    },
    {
        "id": "34d021f1.09a10e",
        "type": "mysql",
        "z": "e3742b89.114eb8",
        "mydb": "d30d6219.8ceef",
        "name": "",
        "x": 940,
        "y": 1320,
        "wires": [
            [
                "df38e927.1519f8",
                "252448df.82b088"
            ]
        ]
    },
    {
        "id": "3dd51d9c.3d7402",
        "type": "function",
        "z": "e3742b89.114eb8",
        "name": "Return new password",
        "func": "var newpassword = global.get('newpassword');\nvar passwordmatch = global.get('passwordmatch') || false;\nif (msg.match === true && passwordmatch === true)\n{\n   msg.payload = newpassword;\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1640,
        "y": 1320,
        "wires": [
            [
                "3d83a986.bb1476"
            ]
        ]
    },
    {
        "id": "3d83a986.bb1476",
        "type": "bcrypt",
        "z": "e3742b89.114eb8",
        "name": "",
        "action": "encrypt",
        "field": "payload",
        "hash": "",
        "rounds": 10,
        "x": 1850,
        "y": 1320,
        "wires": [
            [
                "aad8c8aa.941fb8"
            ]
        ]
    },
    {
        "id": "7a41289f.8212c8",
        "type": "comment",
        "z": "e3742b89.114eb8",
        "name": "Fetching old password",
        "info": "",
        "x": 740,
        "y": 1280,
        "wires": []
    },
    {
        "id": "854247fe.342ca8",
        "type": "comment",
        "z": "e3742b89.114eb8",
        "name": "Old password result",
        "info": "",
        "x": 1370,
        "y": 1280,
        "wires": []
    },
    {
        "id": "991c9418.cdd488",
        "type": "comment",
        "z": "e3742b89.114eb8",
        "name": "Encrypt new password",
        "info": "",
        "x": 1840,
        "y": 1360,
        "wires": []
    },
    {
        "id": "9de3d608.5251c8",
        "type": "comment",
        "z": "e3742b89.114eb8",
        "name": "Verify new password match",
        "info": "",
        "x": 530,
        "y": 1400,
        "wires": []
    },
    {
        "id": "798f81f0.51ad6",
        "type": "mysql",
        "z": "e3742b89.114eb8",
        "mydb": "d30d6219.8ceef",
        "name": "",
        "x": 2260,
        "y": 1320,
        "wires": [
            [
                "5ab2823d.db103c",
                "7f94f82a.76b628"
            ]
        ]
    },
    {
        "id": "aad8c8aa.941fb8",
        "type": "function",
        "z": "e3742b89.114eb8",
        "name": "Update new password",
        "func": "var currentuser = global.get ('currentuser');\nmsg.topic = \"UPDATE `training`.`userdatabase` SET `password` = '\"+msg.payload+\"' WHERE `username` = '\"+currentuser+\"';\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 2060,
        "y": 1320,
        "wires": [
            [
                "798f81f0.51ad6"
            ]
        ]
    },
    {
        "id": "741617fb.78da08",
        "type": "link out",
        "z": "e3742b89.114eb8",
        "name": "TriggerSelect2",
        "links": [
            "b654721e.0bfea"
        ],
        "x": 2615,
        "y": 1360,
        "wires": []
    },
    {
        "id": "5ab2823d.db103c",
        "type": "function",
        "z": "e3742b89.114eb8",
        "name": "",
        "func": "if (msg.payload.changedRows == 1 && msg.match === true)\n{\n    msg.payload = \"Password updated\"\n    return msg;\n}\n\nif (msg.payload.changedRows === 0 && msg.match === true)\n{\n    msg.payload = \"Old and new password is same\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 2460,
        "y": 1320,
        "wires": [
            [
                "741617fb.78da08",
                "101debc8.284454",
                "33a7c1e2.d78c1e"
            ]
        ]
    },
    {
        "id": "101debc8.284454",
        "type": "ui_text",
        "z": "e3742b89.114eb8",
        "group": "c2cb81de.e029",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 2990,
        "y": 1280,
        "wires": []
    },
    {
        "id": "a310e21e.7c1b4",
        "type": "comment",
        "z": "e3742b89.114eb8",
        "name": "Update password",
        "info": "",
        "x": 220,
        "y": 1240,
        "wires": []
    },
    {
        "id": "252448df.82b088",
        "type": "debug",
        "z": "e3742b89.114eb8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1140,
        "y": 1280,
        "wires": []
    },
    {
        "id": "7f94f82a.76b628",
        "type": "debug",
        "z": "e3742b89.114eb8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2450,
        "y": 1360,
        "wires": []
    },
    {
        "id": "33a7c1e2.d78c1e",
        "type": "delay",
        "z": "e3742b89.114eb8",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 2640,
        "y": 1320,
        "wires": [
            [
                "b9403ee4.6c657"
            ]
        ]
    },
    {
        "id": "b9403ee4.6c657",
        "type": "function",
        "z": "e3742b89.114eb8",
        "name": "",
        "func": "msg.payload = \"\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 2800,
        "y": 1320,
        "wires": [
            [
                "101debc8.284454"
            ]
        ]
    },
    {
        "id": "a5a7fdae.a0eb",
        "type": "link out",
        "z": "e3742b89.114eb8",
        "name": "UpdatePasswordStatus",
        "links": [
            "fae3c487.b542f8"
        ],
        "x": 635,
        "y": 1440,
        "wires": []
    },
    {
        "id": "fae3c487.b542f8",
        "type": "link in",
        "z": "e3742b89.114eb8",
        "name": "",
        "links": [
            "a5a7fdae.a0eb"
        ],
        "x": 2455,
        "y": 1260,
        "wires": [
            [
                "101debc8.284454",
                "33a7c1e2.d78c1e"
            ]
        ]
    },
    {
        "id": "13f6fdc4.f88002",
        "type": "function",
        "z": "e3742b89.114eb8",
        "name": "Old password feedback",
        "func": "if (msg.match === false)\n{\n   msg.payload = \"Old password is incorrect\";\n   return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1650,
        "y": 1280,
        "wires": [
            [
                "101debc8.284454"
            ]
        ]
    },
    {
        "id": "363770d.372f49",
        "type": "function",
        "z": "e3742b89.114eb8",
        "name": "Update Status",
        "func": "//verying password\nvar x = msg.payload[\"new password\"];\nvar y = msg.payload[\"repeat new password\"];\n\nif (x != y)\n{\nglobal.set('passwordmatch', false);\nmsg.payload = \"new password does not match\"\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 500,
        "y": 1440,
        "wires": [
            [
                "a5a7fdae.a0eb"
            ]
        ]
    },
    {
        "id": "c97f7d9f.17098",
        "type": "delay",
        "z": "e3742b89.114eb8",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 700,
        "y": 1040,
        "wires": [
            [
                "c969018c.62af3"
            ]
        ]
    },
    {
        "id": "c969018c.62af3",
        "type": "function",
        "z": "e3742b89.114eb8",
        "name": "Select",
        "func": "msg.topic = \"Select * from `training`.`userdatabase`;\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 850,
        "y": 1040,
        "wires": [
            [
                "88245281.6f1d8"
            ]
        ]
    },
    {
        "id": "12f941d0.853b8e",
        "type": "inject",
        "z": "e3742b89.114eb8",
        "name": "Delete all",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 700,
        "y": 1080,
        "wires": [
            [
                "c08ceafb.091008"
            ]
        ]
    },
    {
        "id": "c08ceafb.091008",
        "type": "function",
        "z": "e3742b89.114eb8",
        "name": "",
        "func": "msg.topic = \"Delete from training.userdatabase;\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 880,
        "y": 1080,
        "wires": [
            [
                "88245281.6f1d8"
            ]
        ]
    },
    {
        "id": "2e160656.e921ba",
        "type": "comment",
        "z": "e3742b89.114eb8",
        "name": "Control",
        "info": "",
        "x": 170,
        "y": 1540,
        "wires": []
    },
    {
        "id": "5be6e580.4e695c",
        "type": "ui_button",
        "z": "e3742b89.114eb8",
        "name": "",
        "group": "28d6b116.9db92e",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Start Filling",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 190,
        "y": 1580,
        "wires": [
            []
        ]
    },
    {
        "id": "86fb0c78.0ea06",
        "type": "ui_button",
        "z": "e3742b89.114eb8",
        "name": "",
        "group": "28d6b116.9db92e",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Start Draining",
        "tooltip": "",
        "color": "",
        "bgcolor": "orange",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 200,
        "y": 1800,
        "wires": [
            []
        ]
    },
    {
        "id": "935380ea.e7d09",
        "type": "ui_slider",
        "z": "e3742b89.114eb8",
        "name": "",
        "label": "Draining Valve",
        "tooltip": "",
        "group": "afe95a02.48f298",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": 0,
        "max": "100",
        "step": 1,
        "x": 200,
        "y": 1880,
        "wires": [
            [
                "542598c5.527598"
            ]
        ]
    },
    {
        "id": "b879ab83.9b19a8",
        "type": "ui_slider",
        "z": "e3742b89.114eb8",
        "name": "",
        "label": "Filling Valve",
        "tooltip": "",
        "group": "afe95a02.48f298",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": 0,
        "max": "100",
        "step": 1,
        "x": 190,
        "y": 1660,
        "wires": [
            [
                "24caacef.9c6c84"
            ]
        ]
    },
    {
        "id": "30f6fb54.c0de54",
        "type": "ui_button",
        "z": "e3742b89.114eb8",
        "name": "",
        "group": "28d6b116.9db92e",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Stop Filling",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 190,
        "y": 1620,
        "wires": [
            []
        ]
    },
    {
        "id": "e96c50b5.05565",
        "type": "ui_button",
        "z": "e3742b89.114eb8",
        "name": "",
        "group": "28d6b116.9db92e",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Stop Draining",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 200,
        "y": 1840,
        "wires": [
            []
        ]
    },
    {
        "id": "9248cb64.fdbc18",
        "type": "ui_gauge",
        "z": "e3742b89.114eb8",
        "name": "",
        "group": "fc48c562.accd48",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Water Level",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 890,
        "y": 1760,
        "wires": []
    },
    {
        "id": "24caacef.9c6c84",
        "type": "ui_text",
        "z": "e3742b89.114eb8",
        "group": "28d6b116.9db92e",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Filling valve",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 430,
        "y": 1660,
        "wires": []
    },
    {
        "id": "542598c5.527598",
        "type": "ui_text",
        "z": "e3742b89.114eb8",
        "group": "28d6b116.9db92e",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Draining valve",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 460,
        "y": 1880,
        "wires": []
    },
    {
        "id": "4c8d12aa.533cbc",
        "type": "ui_ui_control",
        "z": "e3742b89.114eb8",
        "name": "",
        "events": "all",
        "x": 680,
        "y": 2040,
        "wires": [
            []
        ]
    },
    {
        "id": "ec7825f6.16bad8",
        "type": "comment",
        "z": "e3742b89.114eb8",
        "name": "UI Control",
        "info": "",
        "x": 180,
        "y": 1940,
        "wires": []
    },
    {
        "id": "a9948f71.47707",
        "type": "inject",
        "z": "e3742b89.114eb8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 2000,
        "wires": [
            [
                "e9fcb881.c69c08",
                "87c10da9.6b90f",
                "52da1e8e.3b85d"
            ]
        ]
    },
    {
        "id": "e9fcb881.c69c08",
        "type": "function",
        "z": "e3742b89.114eb8",
        "name": "Admin",
        "func": "var user = global.get('currentuser');\n\nif(user != \"admin\")\n{\n\nmsg.payload =\n{\n    \"tabs\": {\n        \"hide\": \"Settings\"\n        \n    },\n        \"group\": \n    {\n        \"hide\": [\"Operator_Parameters\"]\n        \n    }\n    \n \n}\n return msg;  \n}\n\nif(user == \"admin\")\n{\n\nmsg.payload =\n{\n    \"tabs\": {\n        \"show\": \"Settings\"\n        \n    },\n            \"group\": \n    {\n        \"show\": [\"Operator_Parameters\"]\n        \n    }\n \n}\n return msg;  \n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 370,
        "y": 1980,
        "wires": [
            [
                "4c8d12aa.533cbc",
                "c8300e8d.d18a2"
            ]
        ]
    },
    {
        "id": "c8300e8d.d18a2",
        "type": "debug",
        "z": "e3742b89.114eb8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 1980,
        "wires": []
    },
    {
        "id": "4a6766fe.211dd8",
        "type": "ui_text",
        "z": "e3742b89.114eb8",
        "group": "c2cb81de.e029",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current logged in user",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 780,
        "y": 1180,
        "wires": []
    },
    {
        "id": "5c7e7b10.ebcb94",
        "type": "ui_text",
        "z": "e3742b89.114eb8",
        "group": "9e099cea.b3406",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current logged in user",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 780,
        "y": 1220,
        "wires": []
    },
    {
        "id": "87c10da9.6b90f",
        "type": "function",
        "z": "e3742b89.114eb8",
        "name": "Operator",
        "func": "var user = global.get('currentuser');\n\nif(user != \"admin\" || user !== \"Guest\")\n{\n\nmsg.payload =\n{\n    \"group\": \n    {\n        \"show\": [\"Operator_Control\", \"Operator_Update_password\"]\n        \n    }\n    \n}\n return msg;  \n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 380,
        "y": 2040,
        "wires": [
            [
                "4c8d12aa.533cbc",
                "c8300e8d.d18a2"
            ]
        ]
    },
    {
        "id": "52da1e8e.3b85d",
        "type": "function",
        "z": "e3742b89.114eb8",
        "name": "Guest user",
        "func": "var user = global.get('currentuser');\n\nif(user === \"Guest\")\n{\n\nmsg.payload =\n{\n    \"group\": \n    {\n        \"hide\": [\"Operator_Parameters\", \"Operator_Control\", \"Operator_Update_password\" ],\n        \n    }\n    \n}\n return msg;  \n}\n\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 390,
        "y": 2100,
        "wires": [
            [
                "4c8d12aa.533cbc",
                "c8300e8d.d18a2"
            ]
        ]
    },
    {
        "id": "18d3787.16c0a88",
        "type": "inject",
        "z": "e3742b89.114eb8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0.1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 490,
        "y": 1760,
        "wires": [
            [
                "8e52ad70.b2e03"
            ]
        ]
    },
    {
        "id": "8e52ad70.b2e03",
        "type": "function",
        "z": "e3742b89.114eb8",
        "name": "",
        "func": "var level = context.get('level');\nvar change = context.get('change');\n\nlevel = level + change;\ncontext.set('level',level) \n\nif (level == 100)\n{\n    context.set('change',-1) \n}\n\nif (level === 0)\n{\n    context.set('change',+1) \n}\n\n\n\nmsg.payload = level;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is deployed.\ncontext.set('level',0);\ncontext.set('change',1);",
        "finalize": "",
        "x": 700,
        "y": 1760,
        "wires": [
            [
                "9248cb64.fdbc18",
                "c874c602.e71718"
            ]
        ]
    },
    {
        "id": "c874c602.e71718",
        "type": "debug",
        "z": "e3742b89.114eb8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 1720,
        "wires": []
    },
    {
        "id": "cd006484.c438e8",
        "type": "comment",
        "z": "e3742b89.114eb8",
        "name": "Level Simulation",
        "info": "",
        "x": 210,
        "y": 1740,
        "wires": []
    },
    {
        "id": "450dd169.eea9e",
        "type": "comment",
        "z": "e3742b89.114eb8",
        "name": "Bcrypt",
        "info": "https://cs.wellesley.edu/~webdb/lectures/bcrypt/bcrypt-part.shtml",
        "x": 150,
        "y": 60,
        "wires": []
    },
    {
        "id": "ccffa015.083bc",
        "type": "debug",
        "z": "e3742b89.114eb8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 540,
        "wires": []
    },
    {
        "id": "514f11c0.986f4",
        "type": "debug",
        "z": "e3742b89.114eb8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1330,
        "y": 460,
        "wires": []
    },
    {
        "id": "4b62ca49.0672b4",
        "type": "comment",
        "z": "e3742b89.114eb8",
        "name": "Current User",
        "info": "",
        "x": 190,
        "y": 1100,
        "wires": []
    },
    {
        "id": "5c61ae0f7698ab27",
        "type": "debug",
        "z": "9312fa78e4920ab8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "error",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1800,
        "y": 580,
        "wires": []
    },
    {
        "id": "94ccf2211d1ea54b",
        "type": "ui_text",
        "z": "9312fa78e4920ab8",
        "group": "91e570ff.c625b",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 2010,
        "y": 520,
        "wires": []
    },
    {
        "id": "948e0c518728a603",
        "type": "ui_form",
        "z": "9312fa78e4920ab8",
        "name": "",
        "label": "Registration",
        "group": "91e570ff.c625b",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Username",
                "value": "username",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Password",
                "value": "password",
                "type": "password",
                "required": true,
                "rows": null
            },
            {
                "label": "repeat password",
                "value": "repeat password",
                "type": "password",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "username": "",
            "password": "",
            "repeat password": ""
        },
        "payload": "",
        "submit": "Register",
        "cancel": "cancel",
        "topic": "",
        "topicType": "str",
        "splitLayout": false,
        "x": 170,
        "y": 480,
        "wires": [
            [
                "fd11cd8eac40b1b6",
                "1c6e89ed7375da84",
                "5df1bec5f09fde13"
            ]
        ]
    },
    {
        "id": "1d00d267.6fc4fe",
        "type": "mqtt out",
        "z": "6de6416e.50feb",
        "name": "",
        "topic": "test1",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2eaff49d.f2148c",
        "x": 490,
        "y": 340,
        "wires": []
    },
    {
        "id": "5de2e3e9.17a25c",
        "type": "inject",
        "z": "6de6416e.50feb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Hello",
        "payloadType": "str",
        "x": 150,
        "y": 340,
        "wires": [
            [
                "1d00d267.6fc4fe"
            ]
        ]
    },
    {
        "id": "c2097be5.4681a8",
        "type": "debug",
        "z": "6de6416e.50feb",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 140,
        "wires": []
    },
    {
        "id": "7747fadb.9dab74",
        "type": "comment",
        "z": "6de6416e.50feb",
        "name": "MQTT Broker",
        "info": "",
        "x": 150,
        "y": 100,
        "wires": []
    },
    {
        "id": "d2084c45.423e8",
        "type": "comment",
        "z": "6de6416e.50feb",
        "name": "MQTT Client@Node-RED_Desktop",
        "info": "",
        "x": 220,
        "y": 260,
        "wires": []
    },
    {
        "id": "5e5c7f8f.6dca",
        "type": "mysql",
        "z": "6de6416e.50feb",
        "mydb": "cb19c538.21d738",
        "name": "",
        "x": 1180,
        "y": 820,
        "wires": [
            [
                "c6f596e.5bd2f68",
                "70abd2c6.b8a14c"
            ]
        ]
    },
    {
        "id": "6e8c96f6.29df68",
        "type": "inject",
        "z": "6de6416e.50feb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 830,
        "y": 820,
        "wires": [
            [
                "d3f7a1a8.db68a"
            ]
        ]
    },
    {
        "id": "d3f7a1a8.db68a",
        "type": "function",
        "z": "6de6416e.50feb",
        "name": "",
        "func": "msg.topic = \"Select * from training.mqtt;\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1000,
        "y": 820,
        "wires": [
            [
                "5e5c7f8f.6dca"
            ]
        ]
    },
    {
        "id": "c6f596e.5bd2f68",
        "type": "debug",
        "z": "6de6416e.50feb",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1490,
        "y": 820,
        "wires": []
    },
    {
        "id": "439d1d7a.368b54",
        "type": "comment",
        "z": "6de6416e.50feb",
        "name": "Storing MQTT Client list",
        "info": "",
        "x": 180,
        "y": 680,
        "wires": []
    },
    {
        "id": "f866660f.30e138",
        "type": "link out",
        "z": "6de6416e.50feb",
        "name": "mqttclients",
        "links": [
            "7470030d.1606ec"
        ],
        "x": 455,
        "y": 100,
        "wires": []
    },
    {
        "id": "7470030d.1606ec",
        "type": "link in",
        "z": "6de6416e.50feb",
        "name": "",
        "links": [
            "f866660f.30e138"
        ],
        "x": 115,
        "y": 760,
        "wires": [
            [
                "c91cebe7.ceda18",
                "463c4905.887748"
            ]
        ]
    },
    {
        "id": "c91cebe7.ceda18",
        "type": "function",
        "z": "6de6416e.50feb",
        "name": "Insert sort",
        "func": "if (msg.topic == \"client\")\n{\n    msg.payload= msg.payload.client.id;\n    return msg;\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 760,
        "wires": [
            [
                "9f75a452.572238"
            ]
        ]
    },
    {
        "id": "d15e7766.0e5c38",
        "type": "mysql",
        "z": "6de6416e.50feb",
        "mydb": "cb19c538.21d738",
        "name": "",
        "x": 660,
        "y": 760,
        "wires": [
            [
                "33234e92.6dc4d2"
            ]
        ]
    },
    {
        "id": "33234e92.6dc4d2",
        "type": "function",
        "z": "6de6416e.50feb",
        "name": "",
        "func": "msg.payload = msg.payload.rowsaffected;\nif (msg.payload == 1)\n{\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 820,
        "y": 760,
        "wires": [
            [
                "d3f7a1a8.db68a"
            ]
        ]
    },
    {
        "id": "9f75a452.572238",
        "type": "function",
        "z": "6de6416e.50feb",
        "name": "Insert",
        "func": "var x = msg.payload;\nmsg.topic = \"INSERT INTO training.mqtt (Client, Status) VALUES('\"+x+\"','Connected') ON DUPLICATE KEY UPDATE Client='\"+x+\"', Status = 'Connected';\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 760,
        "wires": [
            [
                "d15e7766.0e5c38",
                "4e7170cf.dedff"
            ]
        ]
    },
    {
        "id": "65c124ff.7680ac",
        "type": "function",
        "z": "6de6416e.50feb",
        "name": "Remove",
        "func": "msg.topic = \"UPDATE training.mqtt SET Status = 'Disconnected' WHERE `Client` = '\"+msg.payload+\"';\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 720,
        "wires": [
            [
                "d15e7766.0e5c38"
            ]
        ]
    },
    {
        "id": "463c4905.887748",
        "type": "function",
        "z": "6de6416e.50feb",
        "name": "Remove sort",
        "func": "if (msg.topic == \"clientDisconnect\")\n{\n    msg.payload= msg.payload.client.id;\n    return msg;\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 250,
        "y": 720,
        "wires": [
            [
                "65c124ff.7680ac"
            ]
        ]
    },
    {
        "id": "4e7170cf.dedff",
        "type": "debug",
        "z": "6de6416e.50feb",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 720,
        "wires": []
    },
    {
        "id": "70abd2c6.b8a14c",
        "type": "ui_template",
        "z": "6de6416e.50feb",
        "group": "fc6e5217.dfc3e",
        "name": "",
        "order": 0,
        "width": "9",
        "height": "4",
        "format": "<style>\n    #history {\n      font-family: \"Arial\";\n        border-collapse: collapse;\n        width: 100%;\n        }\n        \n        #history td, #history th {\n        border: 1px solid #ddd;\n        padding: 8px;\n        }\n        #history tr:nth-child(even){background-color: #A8EEF8;}\n        \n        #history tr:hover {background-color: #40aeea;}\n        \n        #history th {\n        padding-top: 12px;\n        padding-bottom: 12px;\n        text-align: center;\n        background-color: #696969;\n        color: white;\n        }\n        </style>\n        \n        <table id=\"history\" border=\"1\">\n            <tr align=\"center\">\n\n                 <th>ID</th>\n                 <th>Client</th>\n                 <th>Status</th>\n\n            </tr>\n                <tbody>\n                    <tr align=\"center\" ng-repeat=\"row in msg.payload\">\n                        <td ng-repeat=\"item in row\" >{{item}}</td>\n                        </tr>\n                        </tbody>\n                        </table>\n        ",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 1480,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "ece69855.a86ee8",
        "type": "comment",
        "z": "6de6416e.50feb",
        "name": "Publishing",
        "info": "",
        "x": 140,
        "y": 300,
        "wires": []
    },
    {
        "id": "a300553a.b51378",
        "type": "mqtt in",
        "z": "6de6416e.50feb",
        "name": "",
        "topic": "test1",
        "qos": "0",
        "datatype": "auto",
        "broker": "2eaff49d.f2148c",
        "x": 130,
        "y": 400,
        "wires": [
            [
                "c59b640f.810958"
            ]
        ]
    },
    {
        "id": "c59b640f.810958",
        "type": "debug",
        "z": "6de6416e.50feb",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 400,
        "wires": []
    },
    {
        "id": "fa992850.2dfb78",
        "type": "mqtt out",
        "z": "6de6416e.50feb",
        "name": "",
        "topic": "test2",
        "qos": "0",
        "retain": "false",
        "broker": "2eaff49d.f2148c",
        "x": 490,
        "y": 460,
        "wires": []
    },
    {
        "id": "8e696dc9.4179d",
        "type": "inject",
        "z": "6de6416e.50feb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "CodeandCompile",
        "payloadType": "str",
        "x": 180,
        "y": 460,
        "wires": [
            [
                "fa992850.2dfb78"
            ]
        ]
    },
    {
        "id": "dcb8cae8.760cf8",
        "type": "debug",
        "z": "6de6416e.50feb",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 520,
        "wires": []
    },
    {
        "id": "b95b37dd.ab3658",
        "type": "mqtt in",
        "z": "6de6416e.50feb",
        "name": "",
        "topic": "test2",
        "qos": "0",
        "datatype": "auto",
        "broker": "2eaff49d.f2148c",
        "x": 130,
        "y": 520,
        "wires": [
            [
                "dcb8cae8.760cf8"
            ]
        ]
    },
    {
        "id": "dc5a0178.d558e",
        "type": "mqtt in",
        "z": "6de6416e.50feb",
        "name": "",
        "topic": "mqttbox",
        "qos": "0",
        "datatype": "auto",
        "broker": "2eaff49d.f2148c",
        "x": 130,
        "y": 580,
        "wires": [
            [
                "78cd0531.accbac"
            ]
        ]
    },
    {
        "id": "78cd0531.accbac",
        "type": "debug",
        "z": "6de6416e.50feb",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 580,
        "wires": []
    },
    {
        "id": "6bac897d.199858",
        "type": "aedes broker",
        "z": "6de6416e.50feb",
        "name": "",
        "mqtt_port": 1883,
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "dburl": "",
        "usetls": false,
        "x": 170,
        "y": 140,
        "wires": [
            [
                "c2097be5.4681a8",
                "f866660f.30e138"
            ]
        ]
    },
    {
        "id": "41f83701b4a2eae6",
        "type": "inject",
        "z": "d4e5dc8cc7175e18",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 490,
        "y": 200,
        "wires": [
            [
                "fbeec42f24ebf8f7"
            ]
        ]
    },
    {
        "id": "fbeec42f24ebf8f7",
        "type": "function",
        "z": "d4e5dc8cc7175e18",
        "name": "Value1",
        "func": "msg.topic = \"ns=5;i=3;datatype=Boolean\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 200,
        "wires": [
            [
                "6f15e61cda16b664"
            ]
        ]
    },
    {
        "id": "4d660616cec14ac8",
        "type": "debug",
        "z": "d4e5dc8cc7175e18",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 200,
        "wires": []
    },
    {
        "id": "0f659c74fca631b2",
        "type": "function",
        "z": "d4e5dc8cc7175e18",
        "name": "Value2",
        "func": "msg.topic = \"ns=5;i=4;datatype=int16\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 260,
        "wires": [
            [
                "6f15e61cda16b664"
            ]
        ]
    },
    {
        "id": "d71c4f7106a476c2",
        "type": "function",
        "z": "d4e5dc8cc7175e18",
        "name": "Value3",
        "func": "msg.topic = \"ns=5;i=5;datatype=float\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 320,
        "wires": [
            [
                "6f15e61cda16b664"
            ]
        ]
    },
    {
        "id": "a78748a75fed1e6a",
        "type": "inject",
        "z": "d4e5dc8cc7175e18",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 490,
        "y": 320,
        "wires": [
            [
                "d71c4f7106a476c2"
            ]
        ]
    },
    {
        "id": "54c888c7978d4bc7",
        "type": "inject",
        "z": "d4e5dc8cc7175e18",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 490,
        "y": 260,
        "wires": [
            [
                "0f659c74fca631b2"
            ]
        ]
    },
    {
        "id": "f74547abff9a5f25",
        "type": "comment",
        "z": "d4e5dc8cc7175e18",
        "name": "Reading from PLC via OPCua",
        "info": "",
        "x": 530,
        "y": 160,
        "wires": []
    },
    {
        "id": "4d9b0df8f488af47",
        "type": "function",
        "z": "d4e5dc8cc7175e18",
        "name": "Extracting Value 1",
        "func": "if (msg.topic == \"ns=5;i=3\")\n{\n    return msg;\n    \n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 280,
        "wires": [
            [
                "3a4a1b024acac0b0",
                "b524d10adad9b382"
            ]
        ]
    },
    {
        "id": "b524d10adad9b382",
        "type": "mqtt out",
        "z": "d4e5dc8cc7175e18",
        "name": "",
        "topic": "Value1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2eaff49d.f2148c",
        "x": 1350,
        "y": 340,
        "wires": []
    },
    {
        "id": "3a4a1b024acac0b0",
        "type": "debug",
        "z": "d4e5dc8cc7175e18",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1370,
        "y": 300,
        "wires": []
    },
    {
        "id": "72084a4b897b0c94",
        "type": "function",
        "z": "d4e5dc8cc7175e18",
        "name": "Extracting Value 2",
        "func": "if (msg.topic == \"ns=5;i=4\")\n{\n    return msg;\n    \n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 420,
        "wires": [
            [
                "d2086766efdd2eb0"
            ]
        ]
    },
    {
        "id": "488007de7ac0b221",
        "type": "function",
        "z": "d4e5dc8cc7175e18",
        "name": "Extracting Value 3",
        "func": "if (msg.topic == \"ns=5;i=5\")\n{\n    return msg;\n    \n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 500,
        "wires": [
            [
                "3b8aa42616b4980e"
            ]
        ]
    },
    {
        "id": "d2086766efdd2eb0",
        "type": "mqtt out",
        "z": "d4e5dc8cc7175e18",
        "name": "",
        "topic": "Value2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2eaff49d.f2148c",
        "x": 1350,
        "y": 420,
        "wires": []
    },
    {
        "id": "3b8aa42616b4980e",
        "type": "mqtt out",
        "z": "d4e5dc8cc7175e18",
        "name": "",
        "topic": "Value3",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2eaff49d.f2148c",
        "x": 1350,
        "y": 500,
        "wires": []
    },
    {
        "id": "6f15e61cda16b664",
        "type": "OpcUa-Client",
        "z": "d4e5dc8cc7175e18",
        "endpoint": "c8f85ef2893010bd",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "name": "",
        "x": 880,
        "y": 200,
        "wires": [
            [
                "4d660616cec14ac8",
                "4d9b0df8f488af47",
                "72084a4b897b0c94",
                "488007de7ac0b221"
            ]
        ]
    },
    {
        "id": "fa2d79f3f0b5cc40",
        "type": "OpcUa-Client",
        "z": "63a94dd53b6ea35e",
        "endpoint": "c8f85ef2893010bd",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "name": "",
        "x": 780,
        "y": 420,
        "wires": [
            [
                "5262971ed0e5920d"
            ]
        ]
    },
    {
        "id": "af10a9e1c647fe92",
        "type": "function",
        "z": "63a94dd53b6ea35e",
        "name": "",
        "func": "msg1= {};\n\nmsg1.topic= \"ns=4;i=3;datatype=int16\"\n\n\nreturn msg1;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 420,
        "wires": [
            [
                "fa2d79f3f0b5cc40"
            ]
        ]
    },
    {
        "id": "951aeac1a7f329cd",
        "type": "inject",
        "z": "63a94dd53b6ea35e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 390,
        "y": 420,
        "wires": [
            [
                "af10a9e1c647fe92",
                "a9058b805bd2525d"
            ]
        ]
    },
    {
        "id": "5262971ed0e5920d",
        "type": "debug",
        "z": "63a94dd53b6ea35e",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 420,
        "wires": []
    },
    {
        "id": "053ef1b53c01d33e",
        "type": "OpcUa-Client",
        "z": "63a94dd53b6ea35e",
        "endpoint": "c8f85ef2893010bd",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "name": "",
        "x": 760,
        "y": 480,
        "wires": [
            [
                "9a6317353eb5200c"
            ]
        ]
    },
    {
        "id": "a9058b805bd2525d",
        "type": "function",
        "z": "63a94dd53b6ea35e",
        "name": "",
        "func": "msg1= {};\n\nmsg1.topic= \"ns=4;i=4;datatype=int16\"\n\n\nreturn msg1;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 480,
        "wires": [
            [
                "053ef1b53c01d33e"
            ]
        ]
    },
    {
        "id": "9a6317353eb5200c",
        "type": "debug",
        "z": "63a94dd53b6ea35e",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 480,
        "wires": []
    }
]