flows.json
[
    {
        "id": "63a94dd53b6ea35e",
        "type": "tab",
        "label": "Data-Logger.",
        "disabled": false,
        "info": "The nodes in this flow take data from an s7-12oo PLC and publish to an OPC Ua Server, from there the data is displayed on a local dashboard. "
    },
    {
        "id": "259d9210b7a2ebfd",
        "type": "tab",
        "label": "Login Screen",
        "disabled": false,
        "info": ""
    },
    {
        "id": "625def8c030bf36c",
        "type": "tab",
        "label": "Flow 4",
        "disabled": true,
        "info": ""
    },
    {
        "id": "56841c7613eaf1e3",
        "type": "MySQLdatabase",
        "name": "",
        "host": "localhost",
        "port": "3306",
        "db": "tempvalues",
        "tz": "GB",
        "charset": "UTF8"
    },
    {
        "id": "d30d6219.8ceef",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "training",
        "tz": "de"
    },
    {
        "id": "2eaff49d.f2148c",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.1.7",
        "port": "1883",
        "clientid": "Node-RED_Desktop",
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "Desktop",
        "birthQos": "2",
        "birthRetain": "true",
        "birthPayload": "Desktop_Connected",
        "birthMsg": {},
        "closeTopic": "Desktop",
        "closeQos": "2",
        "closeRetain": "true",
        "closePayload": "Desktop_Disconnected",
        "closeMsg": {},
        "willTopic": "Desktop",
        "willQos": "2",
        "willRetain": "true",
        "willPayload": "Desktop_Connection break",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "cb19c538.21d738",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "training",
        "tz": "de",
        "charset": "UTF8"
    },
    {
        "id": "c8f85ef2893010bd",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://192.168.1.25:4840",
        "secpol": "None",
        "secmode": "None",
        "login": false
    },
    {
        "id": "3c9c052e1fc3575f",
        "type": "ui_tab",
        "name": "Data Table",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "78d7d42c237b1be0",
        "type": "ui_group",
        "name": "Data-Logging",
        "tab": "3c9c052e1fc3575f",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "77b911eb0426b28f",
        "type": "ui_group",
        "name": "Current Value",
        "tab": "3c9c052e1fc3575f",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b451fce2cdc5bf46",
        "type": "ui_group",
        "name": "Store information",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "863780a67d3ee73c",
        "type": "ui_group",
        "name": "Quick Organize",
        "tab": "",
        "order": 4,
        "disp": true,
        "width": "4",
        "collapse": false
    },
    {
        "id": "070bd6ba9a4a3a46",
        "type": "ui_group",
        "name": "View Information ",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "5c89166ff2a665a3",
        "type": "ui_group",
        "name": "Quick update",
        "tab": "",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "4d32fe36ad0cc7cb",
        "type": "ui_group",
        "name": "Status of MySQL",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "fd9c01e4700dead6",
        "type": "ui_tab",
        "name": "Graph",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "fc82055f0df8e4f2",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "e60d9dbea8a7986f",
        "type": "ui_group",
        "name": "Temp From Probes",
        "tab": "fd9c01e4700dead6",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "42458bc1cab86041",
        "type": "ui_group",
        "name": "Registration",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "7d8bd2d2059a72f2",
        "type": "ui_group",
        "name": "Login",
        "tab": "75c184f30de5a65e",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "fb1f9e4bbd84573c",
        "type": "ui_group",
        "name": "User database",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "15",
        "collapse": false
    },
    {
        "id": "557bb81a561d518f",
        "type": "ui_group",
        "name": "Update password",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a6395e5f949d4305",
        "type": "ui_group",
        "name": "Control",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "0d7e0a85b21fed62",
        "type": "ui_group",
        "name": "Parameters",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "cd4360b4feb30311",
        "type": "ui_group",
        "name": "Display",
        "tab": "",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "75c184f30de5a65e",
        "type": "ui_tab",
        "name": "Registration",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "44091121718b20bf",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 6,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c072bcd3645d575f",
        "type": "ui_group",
        "name": "Login to Database ",
        "tab": "44091121718b20bf",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "9070e3239a50958d",
        "type": "ui_group",
        "name": "Group 4",
        "tab": "44091121718b20bf",
        "order": 4,
        "disp": true,
        "width": 6
    },
    {
        "id": "43f246d49e4fd4e9",
        "type": "ui_group",
        "name": "Group 5",
        "tab": "44091121718b20bf",
        "order": 5,
        "disp": true,
        "width": 6
    },
    {
        "id": "8eeedfe1d27f9e36",
        "type": "ui_group",
        "name": "Group 6",
        "tab": "44091121718b20bf",
        "order": 6,
        "disp": true,
        "width": 6
    },
    {
        "id": "80b0dd13b42f6af2",
        "type": "ui_group",
        "name": "Group 7",
        "tab": "44091121718b20bf",
        "order": 7,
        "disp": true,
        "width": 6
    },
    {
        "id": "4b922234ae1bfeb2",
        "type": "ui_group",
        "name": "Group 8",
        "tab": "44091121718b20bf",
        "order": 8,
        "disp": true,
        "width": 6
    },
    {
        "id": "fd0c0ff92a37333d",
        "type": "ui_group",
        "name": "Group 9",
        "tab": "44091121718b20bf",
        "order": 9,
        "disp": true,
        "width": 6
    },
    {
        "id": "e29949cf67ba6b58",
        "type": "ui_group",
        "name": "Group 10",
        "tab": "44091121718b20bf",
        "order": 10,
        "disp": true,
        "width": 6
    },
    {
        "id": "ad2521ca0344b648",
        "type": "ui_group",
        "name": "Group 11",
        "tab": "44091121718b20bf",
        "order": 11,
        "disp": true,
        "width": 6
    },
    {
        "id": "28fe7a19770c2f02",
        "type": "ui_group",
        "name": "Group 5",
        "tab": "",
        "order": 5,
        "disp": true,
        "width": 6
    },
    {
        "id": "4c792aaa7b88b640",
        "type": "ui_spacer",
        "z": "259d9210b7a2ebfd",
        "name": "spacer",
        "group": "98398b9ea4753916",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "fa2d79f3f0b5cc40",
        "type": "OpcUa-Client",
        "z": "63a94dd53b6ea35e",
        "endpoint": "c8f85ef2893010bd",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "name": "",
        "x": 780,
        "y": 460,
        "wires": [
            [
                "5262971ed0e5920d",
                "f4689f956fc17918",
                "736c8c4cd5f071d5"
            ]
        ]
    },
    {
        "id": "af10a9e1c647fe92",
        "type": "function",
        "z": "63a94dd53b6ea35e",
        "name": "",
        "func": "var a =global.get ('opcuaconnection')\n\nif (a == true) {\n    \nmsg.topic= \"ns=4;i=3;datatype=int16\"\nreturn msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 460,
        "wires": [
            [
                "fa2d79f3f0b5cc40"
            ]
        ]
    },
    {
        "id": "951aeac1a7f329cd",
        "type": "inject",
        "z": "63a94dd53b6ea35e",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 390,
        "y": 580,
        "wires": [
            [
                "af10a9e1c647fe92",
                "a9058b805bd2525d"
            ]
        ]
    },
    {
        "id": "5262971ed0e5920d",
        "type": "debug",
        "z": "63a94dd53b6ea35e",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 460,
        "wires": []
    },
    {
        "id": "053ef1b53c01d33e",
        "type": "OpcUa-Client",
        "z": "63a94dd53b6ea35e",
        "endpoint": "c8f85ef2893010bd",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "name": "",
        "x": 800,
        "y": 620,
        "wires": [
            [
                "6501f456102a9f13",
                "9a6317353eb5200c"
            ]
        ]
    },
    {
        "id": "a9058b805bd2525d",
        "type": "function",
        "z": "63a94dd53b6ea35e",
        "name": "",
        "func": "msg1= {};\n\nmsg1.topic= \"ns=4;i=4;datatype=int16\"\n\n\nreturn msg1;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 660,
        "wires": [
            [
                "053ef1b53c01d33e"
            ]
        ]
    },
    {
        "id": "9a6317353eb5200c",
        "type": "debug",
        "z": "63a94dd53b6ea35e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 660,
        "wires": []
    },
    {
        "id": "7b587a95137913ca",
        "type": "mysql",
        "z": "63a94dd53b6ea35e",
        "mydb": "56841c7613eaf1e3",
        "name": "",
        "x": 1090,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "0114b67383c686b2",
        "type": "inject",
        "z": "63a94dd53b6ea35e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "4",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 370,
        "y": 820,
        "wires": [
            [
                "897f12af488ea439"
            ]
        ]
    },
    {
        "id": "f4689f956fc17918",
        "type": "function",
        "z": "63a94dd53b6ea35e",
        "name": "",
        "func": "global.set('probe_temp1',msg.payload)\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "897f12af488ea439",
        "type": "function",
        "z": "63a94dd53b6ea35e",
        "name": "Write to my SQL",
        "func": "var a = global.get ('probe_temp1');\nvar c = global.get ('probe_temp2');\n\nvar b = global.get ('opcuaconnection');\nvar now= new Date().toLocaleString(\"GB\");\n\n\nif (b == true){\nmsg.topic  =\"INSERT INTO `tempvalues`.`tempdb`(`timestamp`,`value1`,`value2`) VALUES('\"+now+\"',\"+a+\",\"+c+\");\"\nreturn msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 820,
        "wires": [
            [
                "7b587a95137913ca"
            ]
        ]
    },
    {
        "id": "6501f456102a9f13",
        "type": "function",
        "z": "63a94dd53b6ea35e",
        "name": "",
        "func": "global.set('probe_temp2', msg.payload)",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "b868789a1d23aefe",
        "type": "mysql",
        "z": "63a94dd53b6ea35e",
        "mydb": "56841c7613eaf1e3",
        "name": "",
        "x": 1090,
        "y": 1020,
        "wires": [
            [
                "9d8c22c90dce2374",
                "1eb2c001da2c7095"
            ]
        ]
    },
    {
        "id": "e8c2d7b5153bdb73",
        "type": "inject",
        "z": "63a94dd53b6ea35e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 370,
        "y": 1020,
        "wires": [
            [
                "e34680460b4245a1",
                "eb1bf68dd007d18e"
            ]
        ]
    },
    {
        "id": "e34680460b4245a1",
        "type": "function",
        "z": "63a94dd53b6ea35e",
        "name": "Read From my SQL",
        "func": "msg.topic= \"select * from tempvalues.tempdb\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 1020,
        "wires": [
            [
                "b868789a1d23aefe"
            ]
        ]
    },
    {
        "id": "9d8c22c90dce2374",
        "type": "debug",
        "z": "63a94dd53b6ea35e",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1290,
        "y": 1020,
        "wires": []
    },
    {
        "id": "f89eec01708b4b7a",
        "type": "comment",
        "z": "63a94dd53b6ea35e",
        "name": "Read Data from PLC via OPCua",
        "info": "",
        "x": 430,
        "y": 340,
        "wires": []
    },
    {
        "id": "6a431ad413028e4e",
        "type": "comment",
        "z": "63a94dd53b6ea35e",
        "name": "Write Data to SQL DB",
        "info": "",
        "x": 380,
        "y": 780,
        "wires": []
    },
    {
        "id": "90f938905218245a",
        "type": "comment",
        "z": "63a94dd53b6ea35e",
        "name": "Read Data from SQL DB",
        "info": "",
        "x": 390,
        "y": 980,
        "wires": []
    },
    {
        "id": "2805202b55364e49",
        "type": "ui_switch",
        "z": "63a94dd53b6ea35e",
        "name": "",
        "label": "Data Logging Off/On",
        "tooltip": "",
        "group": "78d7d42c237b1be0",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 260,
        "y": 60,
        "wires": [
            [
                "429a4e62a3e537a9",
                "4a98e4997f01b815"
            ]
        ]
    },
    {
        "id": "429a4e62a3e537a9",
        "type": "function",
        "z": "63a94dd53b6ea35e",
        "name": "",
        "func": "global.set ('opcuaconnection',msg.payload)\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "815e25643dfc66c3",
        "type": "inject",
        "z": "63a94dd53b6ea35e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 90,
        "y": 60,
        "wires": [
            [
                "2805202b55364e49"
            ]
        ]
    },
    {
        "id": "4a98e4997f01b815",
        "type": "ui_led",
        "z": "63a94dd53b6ea35e",
        "order": 1,
        "group": "78d7d42c237b1be0",
        "width": 0,
        "height": 0,
        "label": "Connection",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 450,
        "y": 100,
        "wires": []
    },
    {
        "id": "736c8c4cd5f071d5",
        "type": "ui_text",
        "z": "63a94dd53b6ea35e",
        "group": "78d7d42c237b1be0",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Value From PLC",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1070,
        "y": 420,
        "wires": []
    },
    {
        "id": "e1ef06c1987c415f",
        "type": "ui_button",
        "z": "63a94dd53b6ea35e",
        "name": "",
        "group": "77b911eb0426b28f",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Clear Table",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 360,
        "y": 880,
        "wires": [
            [
                "32986770906e5191"
            ]
        ]
    },
    {
        "id": "32986770906e5191",
        "type": "function",
        "z": "63a94dd53b6ea35e",
        "name": "Clear Table",
        "func": "\nmsg.topic  =\"Delete from `tempvalues`.`tempdb`\";\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 880,
        "wires": [
            [
                "7b587a95137913ca"
            ]
        ]
    },
    {
        "id": "1eb2c001da2c7095",
        "type": "ui_template",
        "z": "63a94dd53b6ea35e",
        "group": "78d7d42c237b1be0",
        "name": "Table",
        "order": 4,
        "width": "6",
        "height": "5",
        "format": "<style>\n    #history {\n      font-family: \"Arial\";\n        border-collapse: collapse;\n        width: 100%;\n        }\n        \n        #history td, #history th {\n        border: 1px solid #ddd;\n        padding: 8px;\n        }\n        #history tr:nth-child(even){background-color: #A8EEF8;}\n        \n        #history tr:hover {background-color: #40aeea;}\n        \n        #history th {\n        padding-top: 12px;\n        padding-bottom: 12px;\n        text-align: center;\n        background-color: #696969;\n        color: white;\n        }\n        </style>\n        \n        <table id=\"history\" border=\"1\">\n            <tr align=\"center\">\n                <th>TimeStamp</th>\n                <th>Value1</th>\n                <th>Value2</th>\n                \n                </tr>\n                <tbody>\n                    <tr align=\"center\" ng-repeat=\"row in msg.payload\">\n                        <td ng-repeat=\"item in row\" >{{item}}</td>\n                        </tr>\n                        </tbody>\n                        </table>\n        ",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 1270,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "dbc9159453973d18",
        "type": "ui_chart",
        "z": "63a94dd53b6ea35e",
        "name": "Temperature Values",
        "group": "e60d9dbea8a7986f",
        "order": 2,
        "width": "6",
        "height": "6",
        "label": "Temp Value from Database",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#0a81d6",
            "#aec7e8",
            "#ff7f0e",
            "#1ff91f",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1320,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "eb1bf68dd007d18e",
        "type": "function",
        "z": "63a94dd53b6ea35e",
        "name": "Read From my SQL",
        "func": "\n\nmsg.topic= \"Select `timestamp` as x,`value1`as y,value2 as z from tempvalues.tempdb;\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 1080,
        "wires": [
            [
                "bbecbbf4175cbc61"
            ]
        ]
    },
    {
        "id": "bbecbbf4175cbc61",
        "type": "mysql",
        "z": "63a94dd53b6ea35e",
        "mydb": "56841c7613eaf1e3",
        "name": "",
        "x": 870,
        "y": 1080,
        "wires": [
            [
                "fb452f60139cc412",
                "8df610087fd88235"
            ]
        ]
    },
    {
        "id": "fb452f60139cc412",
        "type": "debug",
        "z": "63a94dd53b6ea35e",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 1080,
        "wires": []
    },
    {
        "id": "8df610087fd88235",
        "type": "function",
        "z": "63a94dd53b6ea35e",
        "name": "Prepare Chart Data",
        "func": "\n\n\nvar series = [\"Temperature at Probe 1\",\"Temperature at Probe 2\"];\nvar labels  = [\"A\"];\nvar data = [];\nvar data1 = [];\nvar data2 = [];\n\n\nvar i, len, string;\n\nfor (i=0,len =msg.payload.length, string= \"\";  i<len; i++)\n{\n    data1.push(\n        \n        {\"x\": Date.parse(msg.payload[i].x), \"y\": msg.payload[i].y}\n            );\n            \n}\n\nfor (i=0,len =msg.payload.length, string= \"\";  i<len; i++)\n{\n    data2.push(\n        \n        {\"x\": Date.parse(msg.payload[i].x), \"y\": msg.payload[i].z}\n            );\n            \n}\n\ndata = [data1,data2];\n\nmsg.payload = [{series,data,labels}];\n\nmsg.topic = \"Temp Value\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1090,
        "y": 1140,
        "wires": [
            [
                "dbc9159453973d18"
            ]
        ]
    },
    {
        "id": "d73f9e6f3e0c79a2",
        "type": "bcrypt",
        "z": "625def8c030bf36c",
        "name": "",
        "action": "encrypt",
        "field": "",
        "hash": "payload",
        "rounds": "10",
        "x": 370,
        "y": 160,
        "wires": [
            [
                "d8c220a8c26005dc"
            ]
        ]
    },
    {
        "id": "a87396305438de2c",
        "type": "inject",
        "z": "625def8c030bf36c",
        "name": "TestEncrypt",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "nitin",
        "payloadType": "str",
        "x": 190,
        "y": 160,
        "wires": [
            [
                "d73f9e6f3e0c79a2"
            ]
        ]
    },
    {
        "id": "d8c220a8c26005dc",
        "type": "debug",
        "z": "625def8c030bf36c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 530,
        "y": 160,
        "wires": []
    },
    {
        "id": "a02476767c8dd28e",
        "type": "debug",
        "z": "625def8c030bf36c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 530,
        "y": 280,
        "wires": []
    },
    {
        "id": "41fa9b9641debb70",
        "type": "bcrypt",
        "z": "625def8c030bf36c",
        "name": "",
        "action": "verify",
        "field": "payload.txt",
        "hash": "payload.hash",
        "rounds": 10,
        "x": 370,
        "y": 280,
        "wires": [
            [
                "a02476767c8dd28e"
            ]
        ]
    },
    {
        "id": "cf86d708ee196c88",
        "type": "bcrypt",
        "z": "625def8c030bf36c",
        "name": "",
        "action": "encrypt",
        "field": "payload",
        "hash": "",
        "rounds": 10,
        "x": 590,
        "y": 500,
        "wires": [
            [
                "19e2cf1118c15c17",
                "b5426b35eea7c618"
            ]
        ]
    },
    {
        "id": "2f370939d942dc17",
        "type": "debug",
        "z": "625def8c030bf36c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1130,
        "y": 460,
        "wires": []
    },
    {
        "id": "19e2cf1118c15c17",
        "type": "function",
        "z": "625def8c030bf36c",
        "name": "Setting password to G.Variable",
        "func": "global.set('passwordhash',msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 830,
        "y": 500,
        "wires": [
            [
                "2f370939d942dc17",
                "1f0a21881ab839df"
            ]
        ]
    },
    {
        "id": "eb8ace92b49b294c",
        "type": "function",
        "z": "625def8c030bf36c",
        "name": "",
        "func": "//verying password\nvar x = msg.payload.password;\nvar y = msg.payload[\"repeat password\"];\n\nif (x == y)\n{\n//reading and storing password as text\nglobal.set('username',msg.payload.username);\nglobal.set('password',msg.payload.password);\n\nmsg.payload = msg.payload.password;\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 400,
        "y": 500,
        "wires": [
            [
                "cf86d708ee196c88"
            ]
        ]
    },
    {
        "id": "2f1d610944dd5239",
        "type": "ui_form",
        "z": "625def8c030bf36c",
        "name": "",
        "label": "Registration",
        "group": "42458bc1cab86041",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Username",
                "value": "username",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Password",
                "value": "password",
                "type": "password",
                "required": true,
                "rows": null
            },
            {
                "label": "repeat password",
                "value": "repeat password",
                "type": "password",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "username": "",
            "password": "",
            "repeat password": ""
        },
        "payload": "",
        "submit": "Register",
        "cancel": "cancel",
        "topic": "",
        "x": 170,
        "y": 500,
        "wires": [
            [
                "eb8ace92b49b294c",
                "f19c9a959358117a",
                "af6e2c995ff2c851"
            ]
        ]
    },
    {
        "id": "821ce98dd1584ca2",
        "type": "comment",
        "z": "625def8c030bf36c",
        "name": "Encrypting password",
        "info": "",
        "x": 630,
        "y": 460,
        "wires": []
    },
    {
        "id": "1eb5a053d8ce2fdc",
        "type": "mysql",
        "z": "625def8c030bf36c",
        "mydb": "d30d6219.8ceef",
        "name": "",
        "x": 1320,
        "y": 500,
        "wires": [
            [
                "210156abcba214a1",
                "fc17af1d634c4a88"
            ]
        ]
    },
    {
        "id": "1f0a21881ab839df",
        "type": "function",
        "z": "625def8c030bf36c",
        "name": "INSERT",
        "func": "var username = global.get('username');\nvar passwordhash = global.get('passwordhash');\n\nmsg.topic = \"INSERT INTO `training`.`userdatabase`(`username`,`password`) VALUES('\"+username+\"','\"+passwordhash+\"');\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1120,
        "y": 500,
        "wires": [
            [
                "1eb5a053d8ce2fdc",
                "2978679d297707dc"
            ]
        ]
    },
    {
        "id": "210156abcba214a1",
        "type": "debug",
        "z": "625def8c030bf36c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1530,
        "y": 500,
        "wires": []
    },
    {
        "id": "2717aa7d085af95d",
        "type": "ui_form",
        "z": "625def8c030bf36c",
        "name": "",
        "label": "Login",
        "group": "0d7e0a85b21fed62",
        "order": 2,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Username",
                "value": "username",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Password",
                "value": "password",
                "type": "password",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "username": "",
            "password": ""
        },
        "payload": "",
        "submit": "Login",
        "cancel": "cancel",
        "topic": "",
        "topicType": "str",
        "splitLayout": false,
        "x": 190,
        "y": 720,
        "wires": [
            [
                "014570352eada5b6",
                "bd76dd783d113bf8"
            ]
        ]
    },
    {
        "id": "014570352eada5b6",
        "type": "function",
        "z": "625def8c030bf36c",
        "name": "SELECT",
        "func": "msg.topic = \"SELECT username, password FROM training.userdatabase where username = '\"+msg.payload.username+\"';\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 380,
        "y": 720,
        "wires": [
            [
                "aac839b305ba4c6d"
            ]
        ]
    },
    {
        "id": "aac839b305ba4c6d",
        "type": "mysql",
        "z": "625def8c030bf36c",
        "mydb": "d30d6219.8ceef",
        "name": "",
        "x": 560,
        "y": 720,
        "wires": [
            [
                "843092e6c30b10e4",
                "23670c9ca0ce2c43",
                "0f3c1fb70d098a16"
            ]
        ]
    },
    {
        "id": "843092e6c30b10e4",
        "type": "debug",
        "z": "625def8c030bf36c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 720,
        "wires": []
    },
    {
        "id": "cff666d72a8c6719",
        "type": "bcrypt",
        "z": "625def8c030bf36c",
        "name": "",
        "action": "verify",
        "field": "payload.txt",
        "hash": "payload.hash",
        "rounds": 10,
        "x": 990,
        "y": 760,
        "wires": [
            [
                "59b8dfa5863ad256",
                "0c87c5210f8e9f29"
            ]
        ]
    },
    {
        "id": "bd76dd783d113bf8",
        "type": "function",
        "z": "625def8c030bf36c",
        "name": "Global.V",
        "func": "//store the password entered by user to check later\nglobal.set('passwordcheck',msg.payload.password);",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 380,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "23670c9ca0ce2c43",
        "type": "function",
        "z": "625def8c030bf36c",
        "name": "Check password",
        "func": "//Read the password entered by user\nvar passwordcheck = global.get('passwordcheck');\n\nglobal.set('currentuserbuffer',msg.payload[0].username);\nmsg.payload =\n{\n    \"txt\": \"\"+passwordcheck+\"\",\n    \"hash\": \"\"+msg.payload[0].password+\"\"\n}\n\nreturn msg;  ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 780,
        "y": 760,
        "wires": [
            [
                "cff666d72a8c6719"
            ]
        ]
    },
    {
        "id": "59b8dfa5863ad256",
        "type": "debug",
        "z": "625def8c030bf36c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1210,
        "y": 720,
        "wires": []
    },
    {
        "id": "9c6f459dea711db6",
        "type": "ui_text",
        "z": "625def8c030bf36c",
        "group": "7d8bd2d2059a72f2",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 2390,
        "y": 780,
        "wires": []
    },
    {
        "id": "0c87c5210f8e9f29",
        "type": "function",
        "z": "625def8c030bf36c",
        "name": "",
        "func": "if (msg.match === true)\n{\n    msg.payload = \"Login successful\";\n    var x = global.get('currentuserbuffer');\n    global.set('currentuser', x)\n    return msg;\n}\nelse\n{\n    msg.payload = \"Please try again!\";\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1220,
        "y": 760,
        "wires": [
            [
                "9c6f459dea711db6",
                "aec40da335e38c77"
            ]
        ]
    },
    {
        "id": "1a401c3f45bf0ef5",
        "type": "catch",
        "z": "625def8c030bf36c",
        "name": "",
        "scope": [
            "1eb5a053d8ce2fdc"
        ],
        "uncaught": false,
        "x": 1770,
        "y": 660,
        "wires": [
            [
                "aa5abf1c0df082d2"
            ]
        ]
    },
    {
        "id": "1c576aa3340b74fe",
        "type": "debug",
        "z": "625def8c030bf36c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "error",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2200,
        "y": 660,
        "wires": []
    },
    {
        "id": "0f3c1fb70d098a16",
        "type": "function",
        "z": "625def8c030bf36c",
        "name": "",
        "func": "var x = msg.payload.length;\nif (x === 0)\n{\n    msg.payload = \"Please try again!\";\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 760,
        "y": 820,
        "wires": [
            [
                "9c6f459dea711db6",
                "aec40da335e38c77"
            ]
        ]
    },
    {
        "id": "9323aea11d6a4d66",
        "type": "comment",
        "z": "625def8c030bf36c",
        "name": "Registering users",
        "info": "",
        "x": 180,
        "y": 460,
        "wires": []
    },
    {
        "id": "cb1223dfad7362a1",
        "type": "comment",
        "z": "625def8c030bf36c",
        "name": "Verifying Login",
        "info": "",
        "x": 180,
        "y": 640,
        "wires": []
    },
    {
        "id": "f19c9a959358117a",
        "type": "debug",
        "z": "625def8c030bf36c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 460,
        "wires": []
    },
    {
        "id": "217aa0b397fa2075",
        "type": "ui_text",
        "z": "625def8c030bf36c",
        "group": "42458bc1cab86041",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 2390,
        "y": 560,
        "wires": []
    },
    {
        "id": "af6e2c995ff2c851",
        "type": "function",
        "z": "625def8c030bf36c",
        "name": "",
        "func": "\nvar x = msg.payload.password;\nvar y = msg.payload[\"repeat password\"];\n\nif (x == y)\n{\nmsg.payload = \" \";\nreturn msg;\n}\n\nif (x != y)\n{\nmsg.payload = \"Password does not match!\";\nreturn msg;\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 400,
        "y": 560,
        "wires": [
            [
                "217aa0b397fa2075",
                "1ef52a66203bc605"
            ]
        ]
    },
    {
        "id": "aec40da335e38c77",
        "type": "delay",
        "z": "625def8c030bf36c",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1760,
        "y": 820,
        "wires": [
            [
                "3cb69a1a7782b910"
            ]
        ]
    },
    {
        "id": "3cb69a1a7782b910",
        "type": "function",
        "z": "625def8c030bf36c",
        "name": "",
        "func": "msg.payload = \"\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1940,
        "y": 820,
        "wires": [
            [
                "9c6f459dea711db6"
            ]
        ]
    },
    {
        "id": "1ef52a66203bc605",
        "type": "delay",
        "z": "625def8c030bf36c",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1760,
        "y": 600,
        "wires": [
            [
                "23b6b865f151ce20"
            ]
        ]
    },
    {
        "id": "23b6b865f151ce20",
        "type": "function",
        "z": "625def8c030bf36c",
        "name": "",
        "func": "msg.payload = \"\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 600,
        "wires": [
            [
                "217aa0b397fa2075"
            ]
        ]
    },
    {
        "id": "32b1149232126bf7",
        "type": "comment",
        "z": "625def8c030bf36c",
        "name": "Comparing password",
        "info": "",
        "x": 980,
        "y": 720,
        "wires": []
    },
    {
        "id": "df2f350971bbb977",
        "type": "comment",
        "z": "625def8c030bf36c",
        "name": "Testing Encryption",
        "info": "",
        "x": 190,
        "y": 120,
        "wires": []
    },
    {
        "id": "877a184b07dedfd9",
        "type": "inject",
        "z": "625def8c030bf36c",
        "name": "TestVerify",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"txt\":\"nitin\",\"hash\":\"$2a$10$.cE1q47IoHm1TLZ9EkFhieJ1/mZMvkqlluZOEl6qp32BzAOS0BMYe\"}",
        "payloadType": "json",
        "x": 180,
        "y": 280,
        "wires": [
            [
                "41fa9b9641debb70"
            ]
        ]
    },
    {
        "id": "4438e35e71a61955",
        "type": "comment",
        "z": "625def8c030bf36c",
        "name": "Testing Description",
        "info": "",
        "x": 190,
        "y": 240,
        "wires": []
    },
    {
        "id": "aa5abf1c0df082d2",
        "type": "function",
        "z": "625def8c030bf36c",
        "name": "",
        "func": "if (msg.error.source.count == 1)\n{\n    msg.payload = \"Error! Username already exist\";\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 660,
        "wires": [
            [
                "1c576aa3340b74fe",
                "217aa0b397fa2075"
            ]
        ]
    },
    {
        "id": "fc17af1d634c4a88",
        "type": "function",
        "z": "625def8c030bf36c",
        "name": "",
        "func": "if (msg.payload.affectedRows == 1)\n{\n    msg.payload = \"Successfully registered\";\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1500,
        "y": 540,
        "wires": [
            [
                "217aa0b397fa2075",
                "1ef52a66203bc605",
                "ee3f13e395d2d7a7"
            ]
        ]
    },
    {
        "id": "a604cb7418ade186",
        "type": "ui_template",
        "z": "625def8c030bf36c",
        "group": "fb1f9e4bbd84573c",
        "name": "",
        "order": 2,
        "width": 15,
        "height": 3,
        "format": "<style>\n    #history {\n      font-family: \"Arial\";\n        border-collapse: collapse;\n        width: 100%;\n        }\n        \n        #history td, #history th {\n        border: 1px solid #ddd;\n        padding: 8px;\n        }\n        #history tr:nth-child(even){background-color: #A8EEF8;}\n        \n        #history tr:hover {background-color: #40aeea;}\n        \n        #history th {\n        padding-top: 12px;\n        padding-bottom: 12px;\n        text-align: center;\n        background-color: #696969;\n        color: white;\n        }\n        </style>\n        \n        <table id=\"history\" border=\"1\">\n            <tr align=\"center\">\n\n                 <th>ID</th>\n                 <th>Username</th>\n                 <th>Password (Hash)</th>\n               \n            </tr>\n                <tbody>\n                    <tr align=\"center\" ng-repeat=\"row in msg.payload\">\n                        <td ng-repeat=\"item in row\" >{{item}}</td>\n                        </tr>\n                        </tbody>\n                        </table>\n        ",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 1480,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "ee3f13e395d2d7a7",
        "type": "link out",
        "z": "625def8c030bf36c",
        "name": "TriggerSelect1",
        "links": [
            "4435528fb7952883"
        ],
        "x": 1755,
        "y": 520,
        "wires": []
    },
    {
        "id": "4435528fb7952883",
        "type": "link in",
        "z": "625def8c030bf36c",
        "name": "",
        "links": [
            "e983cf2f052c7862",
            "ee3f13e395d2d7a7"
        ],
        "x": 155,
        "y": 920,
        "wires": [
            [
                "fd2394ae9062690d"
            ]
        ]
    },
    {
        "id": "3113d13ea913831d",
        "type": "comment",
        "z": "625def8c030bf36c",
        "name": "User table",
        "info": "",
        "x": 160,
        "y": 880,
        "wires": []
    },
    {
        "id": "fd2394ae9062690d",
        "type": "function",
        "z": "625def8c030bf36c",
        "name": "Select",
        "func": "msg.topic = \"Select * from `training`.`userdatabase`;\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 430,
        "y": 920,
        "wires": [
            [
                "5562614f6d521fe1"
            ]
        ]
    },
    {
        "id": "5562614f6d521fe1",
        "type": "mysql",
        "z": "625def8c030bf36c",
        "mydb": "d30d6219.8ceef",
        "name": "",
        "x": 1300,
        "y": 920,
        "wires": [
            [
                "a604cb7418ade186"
            ]
        ]
    },
    {
        "id": "bb0d7a49051b0cea",
        "type": "ui_button",
        "z": "625def8c030bf36c",
        "name": "",
        "group": "fb1f9e4bbd84573c",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Refresh",
        "tooltip": "",
        "color": "",
        "bgcolor": "orange",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 200,
        "y": 960,
        "wires": [
            [
                "fd2394ae9062690d"
            ]
        ]
    },
    {
        "id": "68d6a95b948dc22a",
        "type": "function",
        "z": "625def8c030bf36c",
        "name": "",
        "func": "msg.topic = \"ALTER TABLE training.userdatabase AUTO_INCREMENT = 2;\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 520,
        "y": 1040,
        "wires": [
            [
                "5562614f6d521fe1",
                "0e12d52adbe8b6cd"
            ]
        ]
    },
    {
        "id": "46fbb77749f0841a",
        "type": "function",
        "z": "625def8c030bf36c",
        "name": "",
        "func": "msg.topic = \"Delete from training.userdatabase where username != 'admin';\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 420,
        "y": 1000,
        "wires": [
            [
                "5562614f6d521fe1"
            ]
        ]
    },
    {
        "id": "8ed6fec5ab0861bf",
        "type": "ui_button",
        "z": "625def8c030bf36c",
        "name": "",
        "group": "fb1f9e4bbd84573c",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Delete all",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 200,
        "y": 1000,
        "wires": [
            [
                "46fbb77749f0841a",
                "100329d2168e284b"
            ]
        ]
    },
    {
        "id": "100329d2168e284b",
        "type": "delay",
        "z": "625def8c030bf36c",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 360,
        "y": 1040,
        "wires": [
            [
                "68d6a95b948dc22a"
            ]
        ]
    },
    {
        "id": "8cb93a38c89ae8a6",
        "type": "catch",
        "z": "625def8c030bf36c",
        "name": "",
        "scope": [
            "23670c9ca0ce2c43"
        ],
        "uncaught": false,
        "x": 1310,
        "y": 880,
        "wires": [
            [
                "cf4c910da513df47"
            ]
        ]
    },
    {
        "id": "cf4c910da513df47",
        "type": "function",
        "z": "625def8c030bf36c",
        "name": "",
        "func": "if (msg.error.source.count == 1)\n{\n    msg.payload = \"Error! Username or password is incorrect\";\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1480,
        "y": 880,
        "wires": [
            [
                "9c6f459dea711db6",
                "aec40da335e38c77"
            ]
        ]
    },
    {
        "id": "ed1c6c9700e99aca",
        "type": "ui_text",
        "z": "625def8c030bf36c",
        "group": "fb1f9e4bbd84573c",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current logged in user",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 780,
        "y": 1140,
        "wires": []
    },
    {
        "id": "402626298a91bcdc",
        "type": "inject",
        "z": "625def8c030bf36c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 1140,
        "wires": [
            [
                "467400b2270683dd"
            ]
        ]
    },
    {
        "id": "467400b2270683dd",
        "type": "function",
        "z": "625def8c030bf36c",
        "name": "",
        "func": "msg.payload = global.get('currentuser');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 480,
        "y": 1140,
        "wires": [
            [
                "ed1c6c9700e99aca",
                "2a4b88945af11d84"
            ]
        ]
    },
    {
        "id": "2fc1243447f32c49",
        "type": "function",
        "z": "625def8c030bf36c",
        "name": "Global.V",
        "func": "global.set('currentuser',\"Guest\");\nglobal.set('currentuserbuffer',\"\");\nglobal.set('username',\"\");\nglobal.set('password',\"\");\nglobal.set('passwordhash',\"\");\nglobal.set('passwordcheck',\"\");",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 380,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "44a0127e2cfc6078",
        "type": "ui_form",
        "z": "625def8c030bf36c",
        "name": "",
        "label": "Change password",
        "group": "557bb81a561d518f",
        "order": 2,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "old password",
                "value": "old password",
                "type": "password",
                "required": true,
                "rows": null
            },
            {
                "label": "new password",
                "value": "new password",
                "type": "password",
                "required": true,
                "rows": null
            },
            {
                "label": "repeat new password",
                "value": "repeat new password",
                "type": "password",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "old password": "",
            "new password": "",
            "repeat new password": ""
        },
        "payload": "",
        "submit": "Update",
        "cancel": "cancel",
        "topic": "",
        "x": 230,
        "y": 1280,
        "wires": [
            [
                "28896addbaa197fe",
                "4996a5ee12be88c8",
                "2ddf31eb1f8d5ab9",
                "9bef86e455d2cf75"
            ]
        ]
    },
    {
        "id": "4996a5ee12be88c8",
        "type": "function",
        "z": "625def8c030bf36c",
        "name": "Set old password",
        "func": "//verying password\nvar x = msg.payload[\"old password\"];\nglobal.set('oldpassword',x)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 510,
        "y": 1320,
        "wires": [
            [
                "56a0e4bfede68bf7"
            ]
        ]
    },
    {
        "id": "28896addbaa197fe",
        "type": "debug",
        "z": "625def8c030bf36c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 1280,
        "wires": []
    },
    {
        "id": "2ddf31eb1f8d5ab9",
        "type": "function",
        "z": "625def8c030bf36c",
        "name": "Error handling new password",
        "func": "//verying password\nvar x = msg.payload[\"new password\"];\nvar y = msg.payload[\"repeat new password\"];\n\nif (x == y)\n{\nglobal.set('passwordmatch', true);\nglobal.set('newpassword',x)\nreturn msg;\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 540,
        "y": 1360,
        "wires": [
            []
        ]
    },
    {
        "id": "e4c230eb6186a709",
        "type": "bcrypt",
        "z": "625def8c030bf36c",
        "name": "",
        "action": "verify",
        "field": "payload.txt",
        "hash": "payload.hash",
        "rounds": 10,
        "x": 1370,
        "y": 1320,
        "wires": [
            [
                "4f0e2a0296104ecf",
                "8445e4e647cf5c43",
                "13710458ba9eea3c"
            ]
        ]
    },
    {
        "id": "4f0e2a0296104ecf",
        "type": "debug",
        "z": "625def8c030bf36c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1590,
        "y": 1360,
        "wires": []
    },
    {
        "id": "559a490791f2591f",
        "type": "function",
        "z": "625def8c030bf36c",
        "name": "Check old password",
        "func": "var oldpassword = global.get('oldpassword');\n\nmsg.payload =\n{\n    \"txt\": \"\"+oldpassword+\"\",\n    \"hash\": \"\"+msg.payload[0].password+\"\"\n}\n\nreturn msg;  ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1160,
        "y": 1320,
        "wires": [
            [
                "e4c230eb6186a709"
            ]
        ]
    },
    {
        "id": "56a0e4bfede68bf7",
        "type": "function",
        "z": "625def8c030bf36c",
        "name": "SELECT",
        "func": "var currentuser = global.get('currentuser')\nmsg.topic = \"SELECT username, password FROM training.userdatabase where username = '\"+currentuser+\"';\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 740,
        "y": 1320,
        "wires": [
            [
                "33064e1455af0349"
            ]
        ]
    },
    {
        "id": "33064e1455af0349",
        "type": "mysql",
        "z": "625def8c030bf36c",
        "mydb": "d30d6219.8ceef",
        "name": "",
        "x": 940,
        "y": 1320,
        "wires": [
            [
                "559a490791f2591f",
                "439c4885f3f650b3"
            ]
        ]
    },
    {
        "id": "8445e4e647cf5c43",
        "type": "function",
        "z": "625def8c030bf36c",
        "name": "Return new password",
        "func": "var newpassword = global.get('newpassword');\nvar passwordmatch = global.get('passwordmatch') || false;\nif (msg.match === true && passwordmatch === true)\n{\n   msg.payload = newpassword;\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1640,
        "y": 1320,
        "wires": [
            [
                "f07c7a4a0762286c"
            ]
        ]
    },
    {
        "id": "f07c7a4a0762286c",
        "type": "bcrypt",
        "z": "625def8c030bf36c",
        "name": "",
        "action": "encrypt",
        "field": "payload",
        "hash": "",
        "rounds": 10,
        "x": 1850,
        "y": 1320,
        "wires": [
            [
                "5ace857ed6141e3b"
            ]
        ]
    },
    {
        "id": "56ea07e1470860df",
        "type": "comment",
        "z": "625def8c030bf36c",
        "name": "Fetching old password",
        "info": "",
        "x": 740,
        "y": 1280,
        "wires": []
    },
    {
        "id": "617af1f51f2fff88",
        "type": "comment",
        "z": "625def8c030bf36c",
        "name": "Old password result",
        "info": "",
        "x": 1370,
        "y": 1280,
        "wires": []
    },
    {
        "id": "45c500e74b4b1347",
        "type": "comment",
        "z": "625def8c030bf36c",
        "name": "Encrypt new password",
        "info": "",
        "x": 1840,
        "y": 1360,
        "wires": []
    },
    {
        "id": "166b5793f88b5893",
        "type": "comment",
        "z": "625def8c030bf36c",
        "name": "Verify new password match",
        "info": "",
        "x": 530,
        "y": 1400,
        "wires": []
    },
    {
        "id": "9f18632000600f0f",
        "type": "mysql",
        "z": "625def8c030bf36c",
        "mydb": "d30d6219.8ceef",
        "name": "",
        "x": 2260,
        "y": 1320,
        "wires": [
            [
                "4d55409c2ba5f4a7",
                "6539e0ede31699d5"
            ]
        ]
    },
    {
        "id": "5ace857ed6141e3b",
        "type": "function",
        "z": "625def8c030bf36c",
        "name": "Update new password",
        "func": "var currentuser = global.get ('currentuser');\nmsg.topic = \"UPDATE `training`.`userdatabase` SET `password` = '\"+msg.payload+\"' WHERE `username` = '\"+currentuser+\"';\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 2060,
        "y": 1320,
        "wires": [
            [
                "9f18632000600f0f"
            ]
        ]
    },
    {
        "id": "e983cf2f052c7862",
        "type": "link out",
        "z": "625def8c030bf36c",
        "name": "TriggerSelect2",
        "links": [
            "4435528fb7952883"
        ],
        "x": 2615,
        "y": 1360,
        "wires": []
    },
    {
        "id": "4d55409c2ba5f4a7",
        "type": "function",
        "z": "625def8c030bf36c",
        "name": "",
        "func": "if (msg.payload.changedRows == 1 && msg.match === true)\n{\n    msg.payload = \"Password updated\"\n    return msg;\n}\n\nif (msg.payload.changedRows === 0 && msg.match === true)\n{\n    msg.payload = \"Old and new password is same\"\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 2460,
        "y": 1320,
        "wires": [
            [
                "e983cf2f052c7862",
                "c6b0b51ac07e5b7a",
                "e62ade44c8bf97f4"
            ]
        ]
    },
    {
        "id": "c6b0b51ac07e5b7a",
        "type": "ui_text",
        "z": "625def8c030bf36c",
        "group": "557bb81a561d518f",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 2990,
        "y": 1280,
        "wires": []
    },
    {
        "id": "5fd6d5a4965c424f",
        "type": "comment",
        "z": "625def8c030bf36c",
        "name": "Update password",
        "info": "",
        "x": 220,
        "y": 1240,
        "wires": []
    },
    {
        "id": "439c4885f3f650b3",
        "type": "debug",
        "z": "625def8c030bf36c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1140,
        "y": 1280,
        "wires": []
    },
    {
        "id": "6539e0ede31699d5",
        "type": "debug",
        "z": "625def8c030bf36c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2450,
        "y": 1360,
        "wires": []
    },
    {
        "id": "e62ade44c8bf97f4",
        "type": "delay",
        "z": "625def8c030bf36c",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 2640,
        "y": 1320,
        "wires": [
            [
                "586feac851269f91"
            ]
        ]
    },
    {
        "id": "586feac851269f91",
        "type": "function",
        "z": "625def8c030bf36c",
        "name": "",
        "func": "msg.payload = \"\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 2800,
        "y": 1320,
        "wires": [
            [
                "c6b0b51ac07e5b7a"
            ]
        ]
    },
    {
        "id": "e1f95464e4dcb4bc",
        "type": "link out",
        "z": "625def8c030bf36c",
        "name": "UpdatePasswordStatus",
        "links": [
            "802cce46c42bdbe5"
        ],
        "x": 635,
        "y": 1440,
        "wires": []
    },
    {
        "id": "802cce46c42bdbe5",
        "type": "link in",
        "z": "625def8c030bf36c",
        "name": "",
        "links": [
            "e1f95464e4dcb4bc"
        ],
        "x": 2455,
        "y": 1260,
        "wires": [
            [
                "c6b0b51ac07e5b7a",
                "e62ade44c8bf97f4"
            ]
        ]
    },
    {
        "id": "13710458ba9eea3c",
        "type": "function",
        "z": "625def8c030bf36c",
        "name": "Old password feedback",
        "func": "if (msg.match === false)\n{\n   msg.payload = \"Old password is incorrect\";\n   return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1650,
        "y": 1280,
        "wires": [
            [
                "c6b0b51ac07e5b7a"
            ]
        ]
    },
    {
        "id": "9bef86e455d2cf75",
        "type": "function",
        "z": "625def8c030bf36c",
        "name": "Update Status",
        "func": "//verying password\nvar x = msg.payload[\"new password\"];\nvar y = msg.payload[\"repeat new password\"];\n\nif (x != y)\n{\nglobal.set('passwordmatch', false);\nmsg.payload = \"new password does not match\"\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 500,
        "y": 1440,
        "wires": [
            [
                "e1f95464e4dcb4bc"
            ]
        ]
    },
    {
        "id": "0e12d52adbe8b6cd",
        "type": "delay",
        "z": "625def8c030bf36c",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 700,
        "y": 1040,
        "wires": [
            [
                "79d2020aee82bda3"
            ]
        ]
    },
    {
        "id": "79d2020aee82bda3",
        "type": "function",
        "z": "625def8c030bf36c",
        "name": "Select",
        "func": "msg.topic = \"Select * from `training`.`userdatabase`;\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 850,
        "y": 1040,
        "wires": [
            [
                "5562614f6d521fe1"
            ]
        ]
    },
    {
        "id": "d0a20307ef4185cd",
        "type": "inject",
        "z": "625def8c030bf36c",
        "name": "Delete all",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 700,
        "y": 1080,
        "wires": [
            [
                "babb9f1a31d89fb5"
            ]
        ]
    },
    {
        "id": "babb9f1a31d89fb5",
        "type": "function",
        "z": "625def8c030bf36c",
        "name": "",
        "func": "msg.topic = \"Delete from training.userdatabase;\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 880,
        "y": 1080,
        "wires": [
            [
                "5562614f6d521fe1"
            ]
        ]
    },
    {
        "id": "d8ed212fc8298977",
        "type": "comment",
        "z": "625def8c030bf36c",
        "name": "Control",
        "info": "",
        "x": 170,
        "y": 1540,
        "wires": []
    },
    {
        "id": "34d8e6d5ad510395",
        "type": "ui_button",
        "z": "625def8c030bf36c",
        "name": "",
        "group": "a6395e5f949d4305",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Start Filling",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 190,
        "y": 1580,
        "wires": [
            []
        ]
    },
    {
        "id": "024da15faeef20bd",
        "type": "ui_button",
        "z": "625def8c030bf36c",
        "name": "",
        "group": "a6395e5f949d4305",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Start Draining",
        "tooltip": "",
        "color": "",
        "bgcolor": "orange",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 200,
        "y": 1800,
        "wires": [
            []
        ]
    },
    {
        "id": "aa6579ae035f3ce1",
        "type": "ui_slider",
        "z": "625def8c030bf36c",
        "name": "",
        "label": "Draining Valve",
        "tooltip": "",
        "group": "0d7e0a85b21fed62",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": 0,
        "max": "100",
        "step": 1,
        "x": 200,
        "y": 1880,
        "wires": [
            [
                "59a2f25fa0dddb45"
            ]
        ]
    },
    {
        "id": "75186d0ed9370467",
        "type": "ui_slider",
        "z": "625def8c030bf36c",
        "name": "",
        "label": "Filling Valve",
        "tooltip": "",
        "group": "0d7e0a85b21fed62",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": 0,
        "max": "100",
        "step": 1,
        "x": 190,
        "y": 1660,
        "wires": [
            [
                "c08b34e5d2f3a297"
            ]
        ]
    },
    {
        "id": "58cb13eb41d5e8d3",
        "type": "ui_button",
        "z": "625def8c030bf36c",
        "name": "",
        "group": "a6395e5f949d4305",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Stop Filling",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 190,
        "y": 1620,
        "wires": [
            []
        ]
    },
    {
        "id": "9b13942e2c7e50a5",
        "type": "ui_button",
        "z": "625def8c030bf36c",
        "name": "",
        "group": "a6395e5f949d4305",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Stop Draining",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 200,
        "y": 1840,
        "wires": [
            []
        ]
    },
    {
        "id": "25a8e32cb1652bef",
        "type": "ui_gauge",
        "z": "625def8c030bf36c",
        "name": "",
        "group": "cd4360b4feb30311",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Water Level",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 890,
        "y": 1760,
        "wires": []
    },
    {
        "id": "c08b34e5d2f3a297",
        "type": "ui_text",
        "z": "625def8c030bf36c",
        "group": "a6395e5f949d4305",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Filling valve",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 430,
        "y": 1660,
        "wires": []
    },
    {
        "id": "59a2f25fa0dddb45",
        "type": "ui_text",
        "z": "625def8c030bf36c",
        "group": "a6395e5f949d4305",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Draining valve",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 460,
        "y": 1880,
        "wires": []
    },
    {
        "id": "9f45cb06e03ddfe1",
        "type": "ui_ui_control",
        "z": "625def8c030bf36c",
        "name": "",
        "events": "all",
        "x": 680,
        "y": 2040,
        "wires": [
            []
        ]
    },
    {
        "id": "f52141376b90b5f8",
        "type": "comment",
        "z": "625def8c030bf36c",
        "name": "UI Control",
        "info": "",
        "x": 180,
        "y": 1940,
        "wires": []
    },
    {
        "id": "f82327de36948450",
        "type": "inject",
        "z": "625def8c030bf36c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 2000,
        "wires": [
            [
                "f665713a365c08f1",
                "dc963e57d41b9cd4",
                "3f6ae6a8e671eb3a"
            ]
        ]
    },
    {
        "id": "f665713a365c08f1",
        "type": "function",
        "z": "625def8c030bf36c",
        "name": "Admin",
        "func": "var user = global.get('currentuser');\n\nif(user != \"admin\")\n{\n\nmsg.payload =\n{\n    \"tabs\": {\n        \"hide\": \"Settings\"\n        \n    },\n        \"group\": \n    {\n        \"hide\": [\"Operator_Parameters\"]\n        \n    }\n    \n \n}\n return msg;  \n}\n\nif(user == \"admin\")\n{\n\nmsg.payload =\n{\n    \"tabs\": {\n        \"show\": \"Settings\"\n        \n    },\n            \"group\": \n    {\n        \"show\": [\"Operator_Parameters\"]\n        \n    }\n \n}\n return msg;  \n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 370,
        "y": 1980,
        "wires": [
            [
                "9f45cb06e03ddfe1",
                "82984e60f365926f"
            ]
        ]
    },
    {
        "id": "82984e60f365926f",
        "type": "debug",
        "z": "625def8c030bf36c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 1980,
        "wires": []
    },
    {
        "id": "2a4b88945af11d84",
        "type": "ui_text",
        "z": "625def8c030bf36c",
        "group": "557bb81a561d518f",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current logged in user",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 780,
        "y": 1180,
        "wires": []
    },
    {
        "id": "dc963e57d41b9cd4",
        "type": "function",
        "z": "625def8c030bf36c",
        "name": "Operator",
        "func": "var user = global.get('currentuser');\n\nif(user != \"admin\" || user !== \"Guest\")\n{\n\nmsg.payload =\n{\n    \"group\": \n    {\n        \"show\": [\"Operator_Control\", \"Operator_Update_password\"]\n        \n    }\n    \n}\n return msg;  \n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 380,
        "y": 2040,
        "wires": [
            [
                "9f45cb06e03ddfe1",
                "82984e60f365926f"
            ]
        ]
    },
    {
        "id": "3f6ae6a8e671eb3a",
        "type": "function",
        "z": "625def8c030bf36c",
        "name": "Guest user",
        "func": "var user = global.get('currentuser');\n\nif(user === \"Guest\")\n{\n\nmsg.payload =\n{\n    \"group\": \n    {\n        \"hide\": [\"Operator_Parameters\", \"Operator_Control\", \"Operator_Update_password\" ],\n        \n    }\n    \n}\n return msg;  \n}\n\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 390,
        "y": 2100,
        "wires": [
            [
                "9f45cb06e03ddfe1",
                "82984e60f365926f"
            ]
        ]
    },
    {
        "id": "43ca71ce22af3cdb",
        "type": "inject",
        "z": "625def8c030bf36c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0.1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 490,
        "y": 1760,
        "wires": [
            [
                "19a162582ba6cb50"
            ]
        ]
    },
    {
        "id": "19a162582ba6cb50",
        "type": "function",
        "z": "625def8c030bf36c",
        "name": "",
        "func": "var level = context.get('level');\nvar change = context.get('change');\n\nlevel = level + change;\ncontext.set('level',level) \n\nif (level == 100)\n{\n    context.set('change',-1) \n}\n\nif (level === 0)\n{\n    context.set('change',+1) \n}\n\n\n\nmsg.payload = level;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is deployed.\ncontext.set('level',0);\ncontext.set('change',1);",
        "finalize": "",
        "x": 700,
        "y": 1760,
        "wires": [
            [
                "25a8e32cb1652bef",
                "5fb108b37519a3d7"
            ]
        ]
    },
    {
        "id": "5fb108b37519a3d7",
        "type": "debug",
        "z": "625def8c030bf36c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 1720,
        "wires": []
    },
    {
        "id": "e7608c49ee770e06",
        "type": "comment",
        "z": "625def8c030bf36c",
        "name": "Level Simulation",
        "info": "",
        "x": 210,
        "y": 1740,
        "wires": []
    },
    {
        "id": "8372313770944a9c",
        "type": "comment",
        "z": "625def8c030bf36c",
        "name": "Bcrypt",
        "info": "https://cs.wellesley.edu/~webdb/lectures/bcrypt/bcrypt-part.shtml",
        "x": 150,
        "y": 60,
        "wires": []
    },
    {
        "id": "b5426b35eea7c618",
        "type": "debug",
        "z": "625def8c030bf36c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 540,
        "wires": []
    },
    {
        "id": "2978679d297707dc",
        "type": "debug",
        "z": "625def8c030bf36c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1330,
        "y": 460,
        "wires": []
    },
    {
        "id": "6b82e1372d242dca",
        "type": "comment",
        "z": "625def8c030bf36c",
        "name": "Current User",
        "info": "",
        "x": 190,
        "y": 1100,
        "wires": []
    },
    {
        "id": "cea6d9dd4371fdea",
        "type": "ui_form",
        "z": "259d9210b7a2ebfd",
        "name": "",
        "label": "Registration",
        "group": "42458bc1cab86041",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Username",
                "value": "username",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Password",
                "value": "password",
                "type": "password",
                "required": true,
                "rows": null
            },
            {
                "label": "repeat password",
                "value": "repeat password",
                "type": "password",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "username": "",
            "password": "",
            "repeat password": ""
        },
        "payload": "",
        "submit": "Register",
        "cancel": "Cancel",
        "topic": "",
        "topicType": "str",
        "splitLayout": false,
        "x": 310,
        "y": 340,
        "wires": [
            [
                "51af2b7c615eebd5",
                "5b6a6fd4c3e89ecd",
                "9f3bd6e9a133d366"
            ]
        ]
    },
    {
        "id": "d91b333fa74e8a1b",
        "type": "comment",
        "z": "259d9210b7a2ebfd",
        "name": "Registering New Users",
        "info": "",
        "x": 340,
        "y": 260,
        "wires": []
    },
    {
        "id": "5b6a6fd4c3e89ecd",
        "type": "function",
        "z": "259d9210b7a2ebfd",
        "name": "password ==",
        "func": "//verying password\nvar x = msg.payload.password;\nvar y = msg.payload[\"repeat password\"];\n\nif (x == y)\n{\n//reading and storing password as text\nglobal.set('username',msg.payload.username);\nglobal.set('password',msg.payload.password);\n\nmsg.payload = msg.payload.password;\nreturn msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 340,
        "wires": [
            [
                "656698354f407ed9"
            ]
        ]
    },
    {
        "id": "51af2b7c615eebd5",
        "type": "debug",
        "z": "259d9210b7a2ebfd",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 300,
        "wires": []
    },
    {
        "id": "9f3bd6e9a133d366",
        "type": "function",
        "z": "259d9210b7a2ebfd",
        "name": "password !=",
        "func": "\nvar x = msg.payload.password;\nvar y = msg.payload[\"repeat password\"];\n\nif (x == y)\n{\nmsg.payload = \" \";\nreturn msg;\n}\n\nif (x != y)\n{\nmsg.payload = \"Password does not match!\";\nreturn msg;\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 400,
        "wires": [
            [
                "750e7ae86d20bcdd",
                "a1f26b0ebda650a4"
            ]
        ]
    },
    {
        "id": "750e7ae86d20bcdd",
        "type": "ui_text",
        "z": "259d9210b7a2ebfd",
        "group": "42458bc1cab86041",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Status",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 2450,
        "y": 400,
        "wires": []
    },
    {
        "id": "a1f26b0ebda650a4",
        "type": "delay",
        "z": "259d9210b7a2ebfd",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 2060,
        "y": 420,
        "wires": [
            [
                "dc020b7ef4e4ee81"
            ]
        ]
    },
    {
        "id": "dc020b7ef4e4ee81",
        "type": "function",
        "z": "259d9210b7a2ebfd",
        "name": "",
        "func": "msg.payload = \"\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2220,
        "y": 420,
        "wires": [
            [
                "750e7ae86d20bcdd"
            ]
        ]
    },
    {
        "id": "656698354f407ed9",
        "type": "bcrypt",
        "z": "259d9210b7a2ebfd",
        "name": "",
        "action": "encrypt",
        "field": "payload",
        "hash": "",
        "rounds": 10,
        "x": 730,
        "y": 340,
        "wires": [
            [
                "4bb282229fd9c358",
                "44b886290f3312f1"
            ]
        ]
    },
    {
        "id": "4bb282229fd9c358",
        "type": "function",
        "z": "259d9210b7a2ebfd",
        "name": "Setting password to G.Variable",
        "func": "global.set('passwordhash',msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 340,
        "wires": [
            [
                "f4a7b5e062c3964b"
            ]
        ]
    },
    {
        "id": "44b886290f3312f1",
        "type": "debug",
        "z": "259d9210b7a2ebfd",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 380,
        "wires": []
    },
    {
        "id": "f4a7b5e062c3964b",
        "type": "function",
        "z": "259d9210b7a2ebfd",
        "name": "INSERT",
        "func": "var username = global.get('username');\nvar passwordhash = global.get('passwordhash');\n\nmsg.topic = \"INSERT INTO `tempvalues`.`userdatabase`(`username`,`password`) VALUES('\"+username+\"','\"+passwordhash+\"');\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 340,
        "wires": [
            [
                "7cc1da7481ed391d"
            ]
        ]
    },
    {
        "id": "7cc1da7481ed391d",
        "type": "mysql",
        "z": "259d9210b7a2ebfd",
        "mydb": "56841c7613eaf1e3",
        "name": "",
        "x": 1310,
        "y": 340,
        "wires": [
            [
                "4145748decf671ba"
            ]
        ]
    },
    {
        "id": "4145748decf671ba",
        "type": "function",
        "z": "259d9210b7a2ebfd",
        "name": "Reg True",
        "func": "if (msg.payload.affectedRows == 1)\n{\n    msg.payload = \"Successfully registered\";\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1460,
        "y": 340,
        "wires": [
            [
                "750e7ae86d20bcdd",
                "a1f26b0ebda650a4",
                "0c6a2d9f522fe0e6"
            ]
        ]
    },
    {
        "id": "1b49d36ca79ba361",
        "type": "link in",
        "z": "259d9210b7a2ebfd",
        "name": "",
        "links": [
            "0c6a2d9f522fe0e6"
        ],
        "x": 175,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "0c6a2d9f522fe0e6",
        "type": "link out",
        "z": "259d9210b7a2ebfd",
        "name": "",
        "links": [
            "1b49d36ca79ba361"
        ],
        "x": 1715,
        "y": 220,
        "wires": []
    },
    {
        "id": "2db28f1e2527f6f8",
        "type": "catch",
        "z": "259d9210b7a2ebfd",
        "name": "",
        "scope": [
            "7cc1da7481ed391d"
        ],
        "uncaught": false,
        "x": 1690,
        "y": 300,
        "wires": [
            [
                "0b6cbd5101f39a2c"
            ]
        ]
    },
    {
        "id": "0b6cbd5101f39a2c",
        "type": "function",
        "z": "259d9210b7a2ebfd",
        "name": "",
        "func": "if (msg.error.source.count == 1)\n{\n    msg.payload = \"Error! Username already exists\";\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1840,
        "y": 300,
        "wires": [
            [
                "750e7ae86d20bcdd",
                "a1f26b0ebda650a4"
            ]
        ]
    },
    {
        "id": "38a4128ba165024d",
        "type": "function",
        "z": "259d9210b7a2ebfd",
        "name": "SELECT",
        "func": "msg.topic = \"SELECT username, password FROM tempvalues.userdatabase where username = '\"+msg.payload.username+\"';\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "4b8bea5e630a5bc4",
        "type": "function",
        "z": "259d9210b7a2ebfd",
        "name": "Global.V",
        "func": "//store the password entered by user to check later\nglobal.set('passwordcheck',msg.payload.password);",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "679ebf1ab4baa049",
        "type": "comment",
        "z": "259d9210b7a2ebfd",
        "name": "Verifying Login",
        "info": "",
        "x": 320,
        "y": 520,
        "wires": []
    },
    {
        "id": "db87275fdfbbe8ea",
        "type": "function",
        "z": "259d9210b7a2ebfd",
        "name": "Global.V",
        "func": "global.set('currentuser',\"Guest\");\nglobal.set('currentuserbuffer',\"\");\nglobal.set('username',\"\");\nglobal.set('password',\"\");\nglobal.set('passwordhash',\"\");\nglobal.set('passwordcheck',\"\");",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "c220b122119621f2",
        "type": "ui_button",
        "z": "259d9210b7a2ebfd",
        "name": "",
        "group": "c072bcd3645d575f",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Logout",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 330,
        "y": 660,
        "wires": [
            [
                "db87275fdfbbe8ea"
            ]
        ]
    },
    {
        "id": "3e28749c78fe36fb",
        "type": "ui_form",
        "z": "259d9210b7a2ebfd",
        "name": "",
        "label": "",
        "group": "c072bcd3645d575f",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Username",
                "value": "username",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Password",
                "value": "password",
                "type": "password",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "username": "",
            "password": ""
        },
        "payload": "",
        "submit": "Login",
        "cancel": "Cancel",
        "topic": "",
        "topicType": "str",
        "splitLayout": false,
        "x": 330,
        "y": 580,
        "wires": [
            [
                "4b8bea5e630a5bc4",
                "38a4128ba165024d"
            ]
        ]
    }
]