RpiOPCua-MQttflows.json
[{"id":"44faff88.c8075","type":"tab","label":"MQTT Temp Rpi","disabled":false,"info":""},{"id":"c706e17e.f610e","type":"inject","z":"44faff88.c8075","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":200,"wires":[["652265e4.0b858c"]]},{"id":"c4d902e1.76751","type":"OpcUa-Client","z":"44faff88.c8075","endpoint":"eababc9b.024f2","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":580,"y":260,"wires":[["a0a8792b.f24908","47adb7b6.361328","a3a32599.3bc4b8"]]},{"id":"652265e4.0b858c","type":"function","z":"44faff88.c8075","name":"Value1","func":"msg.topic = \"ns=4;i=4;datatype=int16\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":200,"wires":[["c4d902e1.76751"]]},{"id":"a0a8792b.f24908","type":"debug","z":"44faff88.c8075","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":260,"wires":[]},{"id":"e1249f62.01c1e","type":"function","z":"44faff88.c8075","name":"Value2","func":"msg.topic = \"ns=4;i=3;datatype=int16\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":260,"wires":[["c4d902e1.76751"]]},{"id":"458f8790.05dda8","type":"inject","z":"44faff88.c8075","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":260,"wires":[["e1249f62.01c1e"]]},{"id":"844b67e4.38a518","type":"comment","z":"44faff88.c8075","name":"Reading from PLC via OPC UA and publishing to broker","info":"","x":260,"y":60,"wires":[]},{"id":"47adb7b6.361328","type":"function","z":"44faff88.c8075","name":"Extracting Value1","func":"if (msg.topic == \"ns=4;i=4\")\n{\n   return msg; \n}\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":320,"wires":[["f3aef13d.761a9","488fc9b.0515b38"]]},{"id":"f3aef13d.761a9","type":"debug","z":"44faff88.c8075","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1050,"y":320,"wires":[]},{"id":"a3a32599.3bc4b8","type":"function","z":"44faff88.c8075","name":"Extracting Value2","func":"if (msg.topic == \"ns=4;i=3\")\n{\n   return msg; \n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":850,"y":460,"wires":[["38567115.08199e"]]},{"id":"1d4fda33.b7a096","type":"aedes broker","z":"44faff88.c8075","name":"TempValuesRpi","mqtt_port":1883,"mqtt_ws_bind":"port","mqtt_ws_port":"","mqtt_ws_path":"","cert":"","key":"","certname":"","keyname":"","dburl":"","usetls":false,"x":580,"y":120,"wires":[[]]},{"id":"488fc9b.0515b38","type":"mqtt out","z":"44faff88.c8075","name":"Value1","topic":"Value1","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"2eaff49d.f2148c","x":1050,"y":400,"wires":[]},{"id":"38567115.08199e","type":"mqtt out","z":"44faff88.c8075","name":"Value2","topic":"Value2","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"2eaff49d.f2148c","x":1050,"y":460,"wires":[]},{"id":"eababc9b.024f2","type":"OpcUa-Endpoint","endpoint":"opc.tcp://192.168.1.25:4840","secpol":"None","secmode":"None","login":false},{"id":"2eaff49d.f2148c","type":"mqtt-broker","name":"","broker":"192.168.1.13","port":"1883","clientid":"","usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"Desktop","birthQos":"2","birthRetain":"true","birthPayload":"Desktop_Connected","birthMsg":{},"closeTopic":"Desktop","closeQos":"2","closeRetain":"true","closePayload":"Desktop_Disconnected","closeMsg":{},"willTopic":"Desktop","willQos":"2","willRetain":"true","willPayload":"Desktop_Connection break","willMsg":{},"sessionExpiry":""}]